USE [master]
GO
/****** Object:  Database [KeibaCICD]    Script Date: 2025/06/14 8:03:25 ******/
CREATE DATABASE [KeibaCICD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KeibaCICD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\KeibaCICD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KeibaCICD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\KeibaCICD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KeibaCICD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KeibaCICD]
GO
/****** Object:  User [keiba]    Script Date: 2025/06/14 8:03:25 ******/
CREATE USER [keiba] FOR LOGIN [keiba_admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [keiba]
GO
/****** Object:  Schema [JV]    Script Date: 2025/06/14 8:03:25 ******/
CREATE SCHEMA [JV]
GO
/****** Object:  Table [JV].[BAMEIORIGIN]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[BAMEIORIGIN](
	[RecordSpec] [char](2) NULL,
	[DataKubun] [char](1) NULL,
	[MakeDate] [char](8) NULL,
	[KettoNum] [char](10) NOT NULL,
	[Bamei] [char](36) NULL,
	[Origin] [char](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[KettoNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[BANUSI]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[BANUSI](
	[RecordSpec] [char](2) NULL,
	[DataKubun] [char](1) NULL,
	[MakeDate] [char](8) NULL,
	[BanusiCode] [char](6) NOT NULL,
	[BanusiName_Co] [char](64) NULL,
	[BanusiName] [char](64) NULL,
	[BanusiNameKana] [char](50) NULL,
	[BanusiNameEng] [char](100) NULL,
	[Fukusyoku] [char](60) NULL,
	[H_SetYear] [char](4) NULL,
	[H_HonSyokinTotal] [char](10) NULL,
	[H_FukaSyokin] [char](10) NULL,
	[H_ChakuKaisu1] [char](6) NULL,
	[H_ChakuKaisu2] [char](6) NULL,
	[H_ChakuKaisu3] [char](6) NULL,
	[H_ChakuKaisu4] [char](6) NULL,
	[H_ChakuKaisu5] [char](6) NULL,
	[H_ChakuKaisu6] [char](6) NULL,
	[R_SetYear] [char](4) NULL,
	[R_HonSyokinTotal] [char](10) NULL,
	[R_FukaSyokin] [char](10) NULL,
	[R_ChakuKaisu1] [char](6) NULL,
	[R_ChakuKaisu2] [char](6) NULL,
	[R_ChakuKaisu3] [char](6) NULL,
	[R_ChakuKaisu4] [char](6) NULL,
	[R_ChakuKaisu5] [char](6) NULL,
	[R_ChakuKaisu6] [char](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[BanusiCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[BATAIJYU]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[BATAIJYU](
	[RecordSpec] [char](2) NULL,
	[DataKubun] [char](1) NULL,
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[RaceNum] [char](2) NOT NULL,
	[HappyoTime] [char](8) NULL,
	[Umaban1] [char](2) NULL,
	[Bamei1] [char](36) NULL,
	[BaTaijyu1] [char](3) NULL,
	[ZogenFugo1] [char](1) NULL,
	[ZogenSa1] [char](3) NULL,
	[Umaban2] [char](2) NULL,
	[Bamei2] [char](36) NULL,
	[BaTaijyu2] [char](3) NULL,
	[ZogenFugo2] [char](1) NULL,
	[ZogenSa2] [char](3) NULL,
	[Umaban3] [char](2) NULL,
	[Bamei3] [char](36) NULL,
	[BaTaijyu3] [char](3) NULL,
	[ZogenFugo3] [char](1) NULL,
	[ZogenSa3] [char](3) NULL,
	[Umaban4] [char](2) NULL,
	[Bamei4] [char](36) NULL,
	[BaTaijyu4] [char](3) NULL,
	[ZogenFugo4] [char](1) NULL,
	[ZogenSa4] [char](3) NULL,
	[Umaban5] [char](2) NULL,
	[Bamei5] [char](36) NULL,
	[BaTaijyu5] [char](3) NULL,
	[ZogenFugo5] [char](1) NULL,
	[ZogenSa5] [char](3) NULL,
	[Umaban6] [char](2) NULL,
	[Bamei6] [char](36) NULL,
	[BaTaijyu6] [char](3) NULL,
	[ZogenFugo6] [char](1) NULL,
	[ZogenSa6] [char](3) NULL,
	[Umaban7] [char](2) NULL,
	[Bamei7] [char](36) NULL,
	[BaTaijyu7] [char](3) NULL,
	[ZogenFugo7] [char](1) NULL,
	[ZogenSa7] [char](3) NULL,
	[Umaban8] [char](2) NULL,
	[Bamei8] [char](36) NULL,
	[BaTaijyu8] [char](3) NULL,
	[ZogenFugo8] [char](1) NULL,
	[ZogenSa8] [char](3) NULL,
	[Umaban9] [char](2) NULL,
	[Bamei9] [char](36) NULL,
	[BaTaijyu9] [char](3) NULL,
	[ZogenFugo9] [char](1) NULL,
	[ZogenSa9] [char](3) NULL,
	[Umaban10] [char](2) NULL,
	[Bamei10] [char](36) NULL,
	[BaTaijyu10] [char](3) NULL,
	[ZogenFugo10] [char](1) NULL,
	[ZogenSa10] [char](3) NULL,
	[Umaban11] [char](2) NULL,
	[Bamei11] [char](36) NULL,
	[BaTaijyu11] [char](3) NULL,
	[ZogenFugo11] [char](1) NULL,
	[ZogenSa11] [char](3) NULL,
	[Umaban12] [char](2) NULL,
	[Bamei12] [char](36) NULL,
	[BaTaijyu12] [char](3) NULL,
	[ZogenFugo12] [char](1) NULL,
	[ZogenSa12] [char](3) NULL,
	[Umaban13] [char](2) NULL,
	[Bamei13] [char](36) NULL,
	[BaTaijyu13] [char](3) NULL,
	[ZogenFugo13] [char](1) NULL,
	[ZogenSa13] [char](3) NULL,
	[Umaban14] [char](2) NULL,
	[Bamei14] [char](36) NULL,
	[BaTaijyu14] [char](3) NULL,
	[ZogenFugo14] [char](1) NULL,
	[ZogenSa14] [char](3) NULL,
	[Umaban15] [char](2) NULL,
	[Bamei15] [char](36) NULL,
	[BaTaijyu15] [char](3) NULL,
	[ZogenFugo15] [char](1) NULL,
	[ZogenSa15] [char](3) NULL,
	[Umaban16] [char](2) NULL,
	[Bamei16] [char](36) NULL,
	[BaTaijyu16] [char](3) NULL,
	[ZogenFugo16] [char](1) NULL,
	[ZogenSa16] [char](3) NULL,
	[Umaban17] [char](2) NULL,
	[Bamei17] [char](36) NULL,
	[BaTaijyu17] [char](3) NULL,
	[ZogenFugo17] [char](1) NULL,
	[ZogenSa17] [char](3) NULL,
	[Umaban18] [char](2) NULL,
	[Bamei18] [char](36) NULL,
	[BaTaijyu18] [char](3) NULL,
	[ZogenFugo18] [char](1) NULL,
	[ZogenSa18] [char](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC,
	[RaceNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[CHOKYO]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[CHOKYO](
	[RecordSpec] [char](2) NULL,
	[DataKubun] [char](1) NULL,
	[MakeDate] [char](8) NULL,
	[ChokyosiCode] [char](5) NOT NULL,
	[DelKubun] [char](1) NULL,
	[IssueDate] [char](8) NULL,
	[DelDate] [char](8) NULL,
	[BirthDate] [char](8) NULL,
	[ChokyosiName] [char](34) NULL,
	[ChokyosiNameKana] [char](30) NULL,
	[ChokyosiRyakusyo] [char](8) NULL,
	[ChokyosiNameEng] [char](80) NULL,
	[SexCD] [char](1) NULL,
	[TozaiCD] [char](1) NULL,
	[Syotai] [char](20) NULL,
	[SaikinJyusyo1SaikinJyusyoid] [char](16) NULL,
	[SaikinJyusyo1Hondai] [char](60) NULL,
	[SaikinJyusyo1Ryakusyo10] [char](20) NULL,
	[SaikinJyusyo1Ryakusyo6] [char](12) NULL,
	[SaikinJyusyo1Ryakusyo3] [char](6) NULL,
	[SaikinJyusyo1GradeCD] [char](1) NULL,
	[SaikinJyusyo1SyussoTosu] [char](2) NULL,
	[SaikinJyusyo1KettoNum] [char](10) NULL,
	[SaikinJyusyo1Bamei] [char](36) NULL,
	[SaikinJyusyo2SaikinJyusyoid] [char](16) NULL,
	[SaikinJyusyo2Hondai] [char](60) NULL,
	[SaikinJyusyo2Ryakusyo10] [char](20) NULL,
	[SaikinJyusyo2Ryakusyo6] [char](12) NULL,
	[SaikinJyusyo2Ryakusyo3] [char](6) NULL,
	[SaikinJyusyo2GradeCD] [char](1) NULL,
	[SaikinJyusyo2SyussoTosu] [char](2) NULL,
	[SaikinJyusyo2KettoNum] [char](10) NULL,
	[SaikinJyusyo2Bamei] [char](36) NULL,
	[SaikinJyusyo3SaikinJyusyoid] [char](16) NULL,
	[SaikinJyusyo3Hondai] [char](60) NULL,
	[SaikinJyusyo3Ryakusyo10] [char](20) NULL,
	[SaikinJyusyo3Ryakusyo6] [char](12) NULL,
	[SaikinJyusyo3Ryakusyo3] [char](6) NULL,
	[SaikinJyusyo3GradeCD] [char](1) NULL,
	[SaikinJyusyo3SyussoTosu] [char](2) NULL,
	[SaikinJyusyo3KettoNum] [char](10) NULL,
	[SaikinJyusyo3Bamei] [char](36) NULL,
PRIMARY KEY CLUSTERED 
(
	[ChokyosiCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[CHOKYO_SEISEKI]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[CHOKYO_SEISEKI](
	[MakeDate] [char](8) NULL,
	[ChokyosiCode] [char](5) NOT NULL,
	[Num] [char](1) NOT NULL,
	[SetYear] [char](4) NULL,
	[HonSyokinHeichi] [char](10) NULL,
	[HonSyokinSyogai] [char](10) NULL,
	[FukaSyokinHeichi] [char](10) NULL,
	[FukaSyokinSyogai] [char](10) NULL,
	[HeichiChakukaisu1] [char](6) NULL,
	[HeichiChakukaisu2] [char](6) NULL,
	[HeichiChakukaisu3] [char](6) NULL,
	[HeichiChakukaisu4] [char](6) NULL,
	[HeichiChakukaisu5] [char](6) NULL,
	[HeichiChakukaisu6] [char](6) NULL,
	[SyogaiChakukaisu1] [char](6) NULL,
	[SyogaiChakukaisu2] [char](6) NULL,
	[SyogaiChakukaisu3] [char](6) NULL,
	[SyogaiChakukaisu4] [char](6) NULL,
	[SyogaiChakukaisu5] [char](6) NULL,
	[SyogaiChakukaisu6] [char](6) NULL,
	[Jyo1Chakukaisu1] [char](6) NULL,
	[Jyo1Chakukaisu2] [char](6) NULL,
	[Jyo1Chakukaisu3] [char](6) NULL,
	[Jyo1Chakukaisu4] [char](6) NULL,
	[Jyo1Chakukaisu5] [char](6) NULL,
	[Jyo1Chakukaisu6] [char](6) NULL,
	[Jyo2Chakukaisu1] [char](6) NULL,
	[Jyo2Chakukaisu2] [char](6) NULL,
	[Jyo2Chakukaisu3] [char](6) NULL,
	[Jyo2Chakukaisu4] [char](6) NULL,
	[Jyo2Chakukaisu5] [char](6) NULL,
	[Jyo2Chakukaisu6] [char](6) NULL,
	[Jyo3Chakukaisu1] [char](6) NULL,
	[Jyo3Chakukaisu2] [char](6) NULL,
	[Jyo3Chakukaisu3] [char](6) NULL,
	[Jyo3Chakukaisu4] [char](6) NULL,
	[Jyo3Chakukaisu5] [char](6) NULL,
	[Jyo3Chakukaisu6] [char](6) NULL,
	[Jyo4Chakukaisu1] [char](6) NULL,
	[Jyo4Chakukaisu2] [char](6) NULL,
	[Jyo4Chakukaisu3] [char](6) NULL,
	[Jyo4Chakukaisu4] [char](6) NULL,
	[Jyo4Chakukaisu5] [char](6) NULL,
	[Jyo4Chakukaisu6] [char](6) NULL,
	[Jyo5Chakukaisu1] [char](6) NULL,
	[Jyo5Chakukaisu2] [char](6) NULL,
	[Jyo5Chakukaisu3] [char](6) NULL,
	[Jyo5Chakukaisu4] [char](6) NULL,
	[Jyo5Chakukaisu5] [char](6) NULL,
	[Jyo5Chakukaisu6] [char](6) NULL,
	[Jyo6Chakukaisu1] [char](6) NULL,
	[Jyo6Chakukaisu2] [char](6) NULL,
	[Jyo6Chakukaisu3] [char](6) NULL,
	[Jyo6Chakukaisu4] [char](6) NULL,
	[Jyo6Chakukaisu5] [char](6) NULL,
	[Jyo6Chakukaisu6] [char](6) NULL,
	[Jyo7Chakukaisu1] [char](6) NULL,
	[Jyo7Chakukaisu2] [char](6) NULL,
	[Jyo7Chakukaisu3] [char](6) NULL,
	[Jyo7Chakukaisu4] [char](6) NULL,
	[Jyo7Chakukaisu5] [char](6) NULL,
	[Jyo7Chakukaisu6] [char](6) NULL,
	[Jyo8Chakukaisu1] [char](6) NULL,
	[Jyo8Chakukaisu2] [char](6) NULL,
	[Jyo8Chakukaisu3] [char](6) NULL,
	[Jyo8Chakukaisu4] [char](6) NULL,
	[Jyo8Chakukaisu5] [char](6) NULL,
	[Jyo8Chakukaisu6] [char](6) NULL,
	[Jyo9Chakukaisu1] [char](6) NULL,
	[Jyo9Chakukaisu2] [char](6) NULL,
	[Jyo9Chakukaisu3] [char](6) NULL,
	[Jyo9Chakukaisu4] [char](6) NULL,
	[Jyo9Chakukaisu5] [char](6) NULL,
	[Jyo9Chakukaisu6] [char](6) NULL,
	[Jyo10Chakukaisu1] [char](6) NULL,
	[Jyo10Chakukaisu2] [char](6) NULL,
	[Jyo10Chakukaisu3] [char](6) NULL,
	[Jyo10Chakukaisu4] [char](6) NULL,
	[Jyo10Chakukaisu5] [char](6) NULL,
	[Jyo10Chakukaisu6] [char](6) NULL,
	[Jyo11Chakukaisu1] [char](6) NULL,
	[Jyo11Chakukaisu2] [char](6) NULL,
	[Jyo11Chakukaisu3] [char](6) NULL,
	[Jyo11Chakukaisu4] [char](6) NULL,
	[Jyo11Chakukaisu5] [char](6) NULL,
	[Jyo11Chakukaisu6] [char](6) NULL,
	[Jyo12Chakukaisu1] [char](6) NULL,
	[Jyo12Chakukaisu2] [char](6) NULL,
	[Jyo12Chakukaisu3] [char](6) NULL,
	[Jyo12Chakukaisu4] [char](6) NULL,
	[Jyo12Chakukaisu5] [char](6) NULL,
	[Jyo12Chakukaisu6] [char](6) NULL,
	[Jyo13Chakukaisu1] [char](6) NULL,
	[Jyo13Chakukaisu2] [char](6) NULL,
	[Jyo13Chakukaisu3] [char](6) NULL,
	[Jyo13Chakukaisu4] [char](6) NULL,
	[Jyo13Chakukaisu5] [char](6) NULL,
	[Jyo13Chakukaisu6] [char](6) NULL,
	[Jyo14Chakukaisu1] [char](6) NULL,
	[Jyo14Chakukaisu2] [char](6) NULL,
	[Jyo14Chakukaisu3] [char](6) NULL,
	[Jyo14Chakukaisu4] [char](6) NULL,
	[Jyo14Chakukaisu5] [char](6) NULL,
	[Jyo14Chakukaisu6] [char](6) NULL,
	[Jyo15Chakukaisu1] [char](6) NULL,
	[Jyo15Chakukaisu2] [char](6) NULL,
	[Jyo15Chakukaisu3] [char](6) NULL,
	[Jyo15Chakukaisu4] [char](6) NULL,
	[Jyo15Chakukaisu5] [char](6) NULL,
	[Jyo15Chakukaisu6] [char](6) NULL,
	[Jyo16Chakukaisu1] [char](6) NULL,
	[Jyo16Chakukaisu2] [char](6) NULL,
	[Jyo16Chakukaisu3] [char](6) NULL,
	[Jyo16Chakukaisu4] [char](6) NULL,
	[Jyo16Chakukaisu5] [char](6) NULL,
	[Jyo16Chakukaisu6] [char](6) NULL,
	[Jyo17Chakukaisu1] [char](6) NULL,
	[Jyo17Chakukaisu2] [char](6) NULL,
	[Jyo17Chakukaisu3] [char](6) NULL,
	[Jyo17Chakukaisu4] [char](6) NULL,
	[Jyo17Chakukaisu5] [char](6) NULL,
	[Jyo17Chakukaisu6] [char](6) NULL,
	[Jyo18Chakukaisu1] [char](6) NULL,
	[Jyo18Chakukaisu2] [char](6) NULL,
	[Jyo18Chakukaisu3] [char](6) NULL,
	[Jyo18Chakukaisu4] [char](6) NULL,
	[Jyo18Chakukaisu5] [char](6) NULL,
	[Jyo18Chakukaisu6] [char](6) NULL,
	[Jyo19Chakukaisu1] [char](6) NULL,
	[Jyo19Chakukaisu2] [char](6) NULL,
	[Jyo19Chakukaisu3] [char](6) NULL,
	[Jyo19Chakukaisu4] [char](6) NULL,
	[Jyo19Chakukaisu5] [char](6) NULL,
	[Jyo19Chakukaisu6] [char](6) NULL,
	[Jyo20Chakukaisu1] [char](6) NULL,
	[Jyo20Chakukaisu2] [char](6) NULL,
	[Jyo20Chakukaisu3] [char](6) NULL,
	[Jyo20Chakukaisu4] [char](6) NULL,
	[Jyo20Chakukaisu5] [char](6) NULL,
	[Jyo20Chakukaisu6] [char](6) NULL,
	[Kyori1Chakukaisu1] [char](6) NULL,
	[Kyori1Chakukaisu2] [char](6) NULL,
	[Kyori1Chakukaisu3] [char](6) NULL,
	[Kyori1Chakukaisu4] [char](6) NULL,
	[Kyori1Chakukaisu5] [char](6) NULL,
	[Kyori1Chakukaisu6] [char](6) NULL,
	[Kyori2Chakukaisu1] [char](6) NULL,
	[Kyori2Chakukaisu2] [char](6) NULL,
	[Kyori2Chakukaisu3] [char](6) NULL,
	[Kyori2Chakukaisu4] [char](6) NULL,
	[Kyori2Chakukaisu5] [char](6) NULL,
	[Kyori2Chakukaisu6] [char](6) NULL,
	[Kyori3Chakukaisu1] [char](6) NULL,
	[Kyori3Chakukaisu2] [char](6) NULL,
	[Kyori3Chakukaisu3] [char](6) NULL,
	[Kyori3Chakukaisu4] [char](6) NULL,
	[Kyori3Chakukaisu5] [char](6) NULL,
	[Kyori3Chakukaisu6] [char](6) NULL,
	[Kyori4Chakukaisu1] [char](6) NULL,
	[Kyori4Chakukaisu2] [char](6) NULL,
	[Kyori4Chakukaisu3] [char](6) NULL,
	[Kyori4Chakukaisu4] [char](6) NULL,
	[Kyori4Chakukaisu5] [char](6) NULL,
	[Kyori4Chakukaisu6] [char](6) NULL,
	[Kyori5Chakukaisu1] [char](6) NULL,
	[Kyori5Chakukaisu2] [char](6) NULL,
	[Kyori5Chakukaisu3] [char](6) NULL,
	[Kyori5Chakukaisu4] [char](6) NULL,
	[Kyori5Chakukaisu5] [char](6) NULL,
	[Kyori5Chakukaisu6] [char](6) NULL,
	[Kyori6Chakukaisu1] [char](6) NULL,
	[Kyori6Chakukaisu2] [char](6) NULL,
	[Kyori6Chakukaisu3] [char](6) NULL,
	[Kyori6Chakukaisu4] [char](6) NULL,
	[Kyori6Chakukaisu5] [char](6) NULL,
	[Kyori6Chakukaisu6] [char](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[ChokyosiCode] ASC,
	[Num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[CODE_TABLE]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[CODE_TABLE](
	[Code] [char](4) NOT NULL,
	[Val] [char](3) NOT NULL,
	[Name1] [char](255) NULL,
	[Name2] [char](255) NULL,
	[Name3] [char](255) NULL,
	[Name4] [char](255) NULL,
	[Name5] [char](255) NULL,
	[Name6] [char](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Code] ASC,
	[Val] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[COURSE]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[COURSE](
	[RecordSpec] [char](2) NULL,
	[DataKubun] [char](1) NULL,
	[MakeDate] [char](8) NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kyori] [char](4) NOT NULL,
	[TrackCD] [char](2) NOT NULL,
	[KaishuDate] [char](8) NOT NULL,
	[CourseEX] [varchar](6828) NULL,
PRIMARY KEY CLUSTERED 
(
	[JyoCD] ASC,
	[Kyori] ASC,
	[TrackCD] ASC,
	[KaishuDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[COURSE_CHANGE]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[COURSE_CHANGE](
	[RecordSpec] [char](2) NULL,
	[DataKubun] [char](1) NULL,
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[RaceNum] [char](2) NOT NULL,
	[HappyoTime] [char](8) NOT NULL,
	[AtoKyori] [char](4) NULL,
	[AtoTruckCD] [char](2) NULL,
	[MaeKyori] [char](4) NULL,
	[MaeTruckCD] [char](2) NULL,
	[JiyuCD] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC,
	[RaceNum] ASC,
	[HappyoTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[HANRO]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[HANRO](
	[RecordSpec] [char](2) NULL,
	[DataKubun] [char](1) NULL,
	[MakeDate] [char](8) NULL,
	[TresenKubun] [char](1) NOT NULL,
	[ChokyoDate] [char](8) NOT NULL,
	[ChokyoTime] [char](4) NOT NULL,
	[KettoNum] [char](10) NOT NULL,
	[HaronTime4] [char](4) NULL,
	[LapTime4] [char](3) NULL,
	[HaronTime3] [char](4) NULL,
	[LapTime3] [char](3) NULL,
	[HaronTime2] [char](4) NULL,
	[LapTime2] [char](3) NULL,
	[LapTime1] [char](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[TresenKubun] ASC,
	[ChokyoDate] ASC,
	[ChokyoTime] ASC,
	[KettoNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[HANSYOKU]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[HANSYOKU](
	[RecordSpec] [char](2) NULL,
	[DataKubun] [char](1) NULL,
	[MakeDate] [char](8) NULL,
	[HansyokuNum] [char](8) NOT NULL,
	[reserved] [char](8) NULL,
	[KettoNum] [char](10) NULL,
	[DelKubun] [char](1) NULL,
	[Bamei] [char](36) NULL,
	[BameiKana] [char](40) NULL,
	[BameiEng] [char](80) NULL,
	[BirthYear] [char](4) NULL,
	[SexCD] [char](1) NULL,
	[HinsyuCD] [char](1) NULL,
	[KeiroCD] [char](2) NULL,
	[HansyokuMochiKubun] [char](1) NULL,
	[ImportYear] [char](4) NULL,
	[SanchiName] [char](20) NULL,
	[HansyokuFNum] [char](8) NULL,
	[HansyokuMNum] [char](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[HansyokuNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[HARAI]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[HARAI](
	[RecordSpec] [char](2) NULL,
	[DataKubun] [char](1) NULL,
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[RaceNum] [char](2) NOT NULL,
	[TorokuTosu] [char](2) NULL,
	[SyussoTosu] [char](2) NULL,
	[FuseirituFlag1] [char](1) NULL,
	[FuseirituFlag2] [char](1) NULL,
	[FuseirituFlag3] [char](1) NULL,
	[FuseirituFlag4] [char](1) NULL,
	[FuseirituFlag5] [char](1) NULL,
	[FuseirituFlag6] [char](1) NULL,
	[FuseirituFlag7] [char](1) NULL,
	[FuseirituFlag8] [char](1) NULL,
	[FuseirituFlag9] [char](1) NULL,
	[TokubaraiFlag1] [char](1) NULL,
	[TokubaraiFlag2] [char](1) NULL,
	[TokubaraiFlag3] [char](1) NULL,
	[TokubaraiFlag4] [char](1) NULL,
	[TokubaraiFlag5] [char](1) NULL,
	[TokubaraiFlag6] [char](1) NULL,
	[TokubaraiFlag7] [char](1) NULL,
	[TokubaraiFlag8] [char](1) NULL,
	[TokubaraiFlag9] [char](1) NULL,
	[HenkanFlag1] [char](1) NULL,
	[HenkanFlag2] [char](1) NULL,
	[HenkanFlag3] [char](1) NULL,
	[HenkanFlag4] [char](1) NULL,
	[HenkanFlag5] [char](1) NULL,
	[HenkanFlag6] [char](1) NULL,
	[HenkanFlag7] [char](1) NULL,
	[HenkanFlag8] [char](1) NULL,
	[HenkanFlag9] [char](1) NULL,
	[HenkanUma1] [char](1) NULL,
	[HenkanUma2] [char](1) NULL,
	[HenkanUma3] [char](1) NULL,
	[HenkanUma4] [char](1) NULL,
	[HenkanUma5] [char](1) NULL,
	[HenkanUma6] [char](1) NULL,
	[HenkanUma7] [char](1) NULL,
	[HenkanUma8] [char](1) NULL,
	[HenkanUma9] [char](1) NULL,
	[HenkanUma10] [char](1) NULL,
	[HenkanUma11] [char](1) NULL,
	[HenkanUma12] [char](1) NULL,
	[HenkanUma13] [char](1) NULL,
	[HenkanUma14] [char](1) NULL,
	[HenkanUma15] [char](1) NULL,
	[HenkanUma16] [char](1) NULL,
	[HenkanUma17] [char](1) NULL,
	[HenkanUma18] [char](1) NULL,
	[HenkanUma19] [char](1) NULL,
	[HenkanUma20] [char](1) NULL,
	[HenkanUma21] [char](1) NULL,
	[HenkanUma22] [char](1) NULL,
	[HenkanUma23] [char](1) NULL,
	[HenkanUma24] [char](1) NULL,
	[HenkanUma25] [char](1) NULL,
	[HenkanUma26] [char](1) NULL,
	[HenkanUma27] [char](1) NULL,
	[HenkanUma28] [char](1) NULL,
	[HenkanWaku1] [char](1) NULL,
	[HenkanWaku2] [char](1) NULL,
	[HenkanWaku3] [char](1) NULL,
	[HenkanWaku4] [char](1) NULL,
	[HenkanWaku5] [char](1) NULL,
	[HenkanWaku6] [char](1) NULL,
	[HenkanWaku7] [char](1) NULL,
	[HenkanWaku8] [char](1) NULL,
	[HenkanDoWaku1] [char](1) NULL,
	[HenkanDoWaku2] [char](1) NULL,
	[HenkanDoWaku3] [char](1) NULL,
	[HenkanDoWaku4] [char](1) NULL,
	[HenkanDoWaku5] [char](1) NULL,
	[HenkanDoWaku6] [char](1) NULL,
	[HenkanDoWaku7] [char](1) NULL,
	[HenkanDoWaku8] [char](1) NULL,
	[PayTansyoUmaban1] [char](2) NULL,
	[PayTansyoPay1] [char](9) NULL,
	[PayTansyoNinki1] [char](2) NULL,
	[PayTansyoUmaban2] [char](2) NULL,
	[PayTansyoPay2] [char](9) NULL,
	[PayTansyoNinki2] [char](2) NULL,
	[PayTansyoUmaban3] [char](2) NULL,
	[PayTansyoPay3] [char](9) NULL,
	[PayTansyoNinki3] [char](2) NULL,
	[PayFukusyoUmaban1] [char](2) NULL,
	[PayFukusyoPay1] [char](9) NULL,
	[PayFukusyoNinki1] [char](2) NULL,
	[PayFukusyoUmaban2] [char](2) NULL,
	[PayFukusyoPay2] [char](9) NULL,
	[PayFukusyoNinki2] [char](2) NULL,
	[PayFukusyoUmaban3] [char](2) NULL,
	[PayFukusyoPay3] [char](9) NULL,
	[PayFukusyoNinki3] [char](2) NULL,
	[PayFukusyoUmaban4] [char](2) NULL,
	[PayFukusyoPay4] [char](9) NULL,
	[PayFukusyoNinki4] [char](2) NULL,
	[PayFukusyoUmaban5] [char](2) NULL,
	[PayFukusyoPay5] [char](9) NULL,
	[PayFukusyoNinki5] [char](2) NULL,
	[PayWakurenKumi1] [char](2) NULL,
	[PayWakurenPay1] [char](9) NULL,
	[PayWakurenNinki1] [char](2) NULL,
	[PayWakurenKumi2] [char](2) NULL,
	[PayWakurenPay2] [char](9) NULL,
	[PayWakurenNinki2] [char](2) NULL,
	[PayWakurenKumi3] [char](2) NULL,
	[PayWakurenPay3] [char](9) NULL,
	[PayWakurenNinki3] [char](2) NULL,
	[PayUmarenKumi1] [char](4) NULL,
	[PayUmarenPay1] [char](9) NULL,
	[PayUmarenNinki1] [char](3) NULL,
	[PayUmarenKumi2] [char](4) NULL,
	[PayUmarenPay2] [char](9) NULL,
	[PayUmarenNinki2] [char](3) NULL,
	[PayUmarenKumi3] [char](4) NULL,
	[PayUmarenPay3] [char](9) NULL,
	[PayUmarenNinki3] [char](3) NULL,
	[PayWideKumi1] [char](4) NULL,
	[PayWidePay1] [char](9) NULL,
	[PayWideNinki1] [char](3) NULL,
	[PayWideKumi2] [char](4) NULL,
	[PayWidePay2] [char](9) NULL,
	[PayWideNinki2] [char](3) NULL,
	[PayWideKumi3] [char](4) NULL,
	[PayWidePay3] [char](9) NULL,
	[PayWideNinki3] [char](3) NULL,
	[PayWideKumi4] [char](4) NULL,
	[PayWidePay4] [char](9) NULL,
	[PayWideNinki4] [char](3) NULL,
	[PayWideKumi5] [char](4) NULL,
	[PayWidePay5] [char](9) NULL,
	[PayWideNinki5] [char](3) NULL,
	[PayWideKumi6] [char](4) NULL,
	[PayWidePay6] [char](9) NULL,
	[PayWideNinki6] [char](3) NULL,
	[PayWideKumi7] [char](4) NULL,
	[PayWidePay7] [char](9) NULL,
	[PayWideNinki7] [char](3) NULL,
	[PayReserved1Kumi1] [char](4) NULL,
	[PayReserved1Pay1] [char](9) NULL,
	[PayReserved1Ninki1] [char](3) NULL,
	[PayReserved1Kumi2] [char](4) NULL,
	[PayReserved1Pay2] [char](9) NULL,
	[PayReserved1Ninki2] [char](3) NULL,
	[PayReserved1Kumi3] [char](4) NULL,
	[PayReserved1Pay3] [char](9) NULL,
	[PayReserved1Ninki3] [char](3) NULL,
	[PayUmatanKumi1] [char](4) NULL,
	[PayUmatanPay1] [char](9) NULL,
	[PayUmatanNinki1] [char](3) NULL,
	[PayUmatanKumi2] [char](4) NULL,
	[PayUmatanPay2] [char](9) NULL,
	[PayUmatanNinki2] [char](3) NULL,
	[PayUmatanKumi3] [char](4) NULL,
	[PayUmatanPay3] [char](9) NULL,
	[PayUmatanNinki3] [char](3) NULL,
	[PayUmatanKumi4] [char](4) NULL,
	[PayUmatanPay4] [char](9) NULL,
	[PayUmatanNinki4] [char](3) NULL,
	[PayUmatanKumi5] [char](4) NULL,
	[PayUmatanPay5] [char](9) NULL,
	[PayUmatanNinki5] [char](3) NULL,
	[PayUmatanKumi6] [char](4) NULL,
	[PayUmatanPay6] [char](9) NULL,
	[PayUmatanNinki6] [char](3) NULL,
	[PaySanrenpukuKumi1] [char](6) NULL,
	[PaySanrenpukuPay1] [char](9) NULL,
	[PaySanrenpukuNinki1] [char](3) NULL,
	[PaySanrenpukuKumi2] [char](6) NULL,
	[PaySanrenpukuPay2] [char](9) NULL,
	[PaySanrenpukuNinki2] [char](3) NULL,
	[PaySanrenpukuKumi3] [char](6) NULL,
	[PaySanrenpukuPay3] [char](9) NULL,
	[PaySanrenpukuNinki3] [char](3) NULL,
	[PaySanrentanKumi1] [char](6) NULL,
	[PaySanrentanPay1] [char](9) NULL,
	[PaySanrentanNinki1] [char](4) NULL,
	[PaySanrentanKumi2] [char](6) NULL,
	[PaySanrentanPay2] [char](9) NULL,
	[PaySanrentanNinki2] [char](4) NULL,
	[PaySanrentanKumi3] [char](6) NULL,
	[PaySanrentanPay3] [char](9) NULL,
	[PaySanrentanNinki3] [char](4) NULL,
	[PaySanrentanKumi4] [char](6) NULL,
	[PaySanrentanPay4] [char](9) NULL,
	[PaySanrentanNinki4] [char](4) NULL,
	[PaySanrentanKumi5] [char](6) NULL,
	[PaySanrentanPay5] [char](9) NULL,
	[PaySanrentanNinki5] [char](4) NULL,
	[PaySanrentanKumi6] [char](6) NULL,
	[PaySanrentanPay6] [char](9) NULL,
	[PaySanrentanNinki6] [char](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC,
	[RaceNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[HASSOU_JIKOKU_CHANGE]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[HASSOU_JIKOKU_CHANGE](
	[RecordSpec] [char](2) NULL,
	[DataKubun] [char](1) NULL,
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[RaceNum] [char](2) NOT NULL,
	[HappyoTime] [char](8) NOT NULL,
	[AtoJi] [char](2) NULL,
	[AtoFun] [char](2) NULL,
	[MaeJi] [char](2) NULL,
	[MaeFun] [char](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC,
	[RaceNum] ASC,
	[HappyoTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[HYOSU]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[HYOSU](
	[RecordSpec] [char](2) NULL,
	[DataKubun] [char](1) NULL,
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[RaceNum] [char](2) NOT NULL,
	[TorokuTosu] [char](2) NULL,
	[SyussoTosu] [char](2) NULL,
	[HatubaiFlag1] [char](1) NULL,
	[HatubaiFlag2] [char](1) NULL,
	[HatubaiFlag3] [char](1) NULL,
	[HatubaiFlag4] [char](1) NULL,
	[HatubaiFlag5] [char](1) NULL,
	[HatubaiFlag6] [char](1) NULL,
	[HatubaiFlag7] [char](1) NULL,
	[FukuChakuBaraiKey] [char](1) NULL,
	[HenkanUma1] [char](1) NULL,
	[HenkanUma2] [char](1) NULL,
	[HenkanUma3] [char](1) NULL,
	[HenkanUma4] [char](1) NULL,
	[HenkanUma5] [char](1) NULL,
	[HenkanUma6] [char](1) NULL,
	[HenkanUma7] [char](1) NULL,
	[HenkanUma8] [char](1) NULL,
	[HenkanUma9] [char](1) NULL,
	[HenkanUma10] [char](1) NULL,
	[HenkanUma11] [char](1) NULL,
	[HenkanUma12] [char](1) NULL,
	[HenkanUma13] [char](1) NULL,
	[HenkanUma14] [char](1) NULL,
	[HenkanUma15] [char](1) NULL,
	[HenkanUma16] [char](1) NULL,
	[HenkanUma17] [char](1) NULL,
	[HenkanUma18] [char](1) NULL,
	[HenkanUma19] [char](1) NULL,
	[HenkanUma20] [char](1) NULL,
	[HenkanUma21] [char](1) NULL,
	[HenkanUma22] [char](1) NULL,
	[HenkanUma23] [char](1) NULL,
	[HenkanUma24] [char](1) NULL,
	[HenkanUma25] [char](1) NULL,
	[HenkanUma26] [char](1) NULL,
	[HenkanUma27] [char](1) NULL,
	[HenkanUma28] [char](1) NULL,
	[HenkanWaku1] [char](1) NULL,
	[HenkanWaku2] [char](1) NULL,
	[HenkanWaku3] [char](1) NULL,
	[HenkanWaku4] [char](1) NULL,
	[HenkanWaku5] [char](1) NULL,
	[HenkanWaku6] [char](1) NULL,
	[HenkanWaku7] [char](1) NULL,
	[HenkanWaku8] [char](1) NULL,
	[HenkanDoWaku1] [char](1) NULL,
	[HenkanDoWaku2] [char](1) NULL,
	[HenkanDoWaku3] [char](1) NULL,
	[HenkanDoWaku4] [char](1) NULL,
	[HenkanDoWaku5] [char](1) NULL,
	[HenkanDoWaku6] [char](1) NULL,
	[HenkanDoWaku7] [char](1) NULL,
	[HenkanDoWaku8] [char](1) NULL,
	[HyoTotal1] [char](11) NULL,
	[HyoTotal2] [char](11) NULL,
	[HyoTotal3] [char](11) NULL,
	[HyoTotal4] [char](11) NULL,
	[HyoTotal5] [char](11) NULL,
	[HyoTotal6] [char](11) NULL,
	[HyoTotal7] [char](11) NULL,
	[HyoTotal8] [char](11) NULL,
	[HyoTotal9] [char](11) NULL,
	[HyoTotal10] [char](11) NULL,
	[HyoTotal11] [char](11) NULL,
	[HyoTotal12] [char](11) NULL,
	[HyoTotal13] [char](11) NULL,
	[HyoTotal14] [char](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC,
	[RaceNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[HYOSU_SANREN]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[HYOSU_SANREN](
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[RaceNum] [char](2) NOT NULL,
	[Kumi] [char](6) NOT NULL,
	[Hyo] [char](11) NULL,
	[Ninki] [char](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC,
	[RaceNum] ASC,
	[Kumi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[HYOSU_SANRENTAN]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[HYOSU_SANRENTAN](
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[RaceNum] [char](2) NOT NULL,
	[Kumi] [char](6) NOT NULL,
	[Hyo] [char](11) NULL,
	[Ninki] [char](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC,
	[RaceNum] ASC,
	[Kumi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[HYOSU_TANPUKU]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[HYOSU_TANPUKU](
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[RaceNum] [char](2) NOT NULL,
	[Umaban] [char](2) NOT NULL,
	[TanHyo] [char](11) NULL,
	[TanNinki] [char](2) NULL,
	[FukuHyo] [char](11) NULL,
	[FukuNinki] [char](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC,
	[RaceNum] ASC,
	[Umaban] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[HYOSU_UMARENWIDE]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[HYOSU_UMARENWIDE](
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[RaceNum] [char](2) NOT NULL,
	[Kumi] [char](4) NOT NULL,
	[UmarenHyo] [char](11) NULL,
	[UmarenNinki] [char](3) NULL,
	[WideHyo] [char](11) NULL,
	[WideNinki] [char](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC,
	[RaceNum] ASC,
	[Kumi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[HYOSU_UMATAN]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[HYOSU_UMATAN](
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[RaceNum] [char](2) NOT NULL,
	[Kumi] [char](4) NOT NULL,
	[Hyo] [char](11) NULL,
	[Ninki] [char](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC,
	[RaceNum] ASC,
	[Kumi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[HYOSU_WAKU]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[HYOSU_WAKU](
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[RaceNum] [char](2) NOT NULL,
	[Kumi] [char](2) NOT NULL,
	[Hyo] [char](11) NULL,
	[Ninki] [char](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC,
	[RaceNum] ASC,
	[Kumi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[HYOSU2]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[HYOSU2](
	[RecordSpec] [char](2) NULL,
	[DataKubun] [char](1) NULL,
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[RaceNum] [char](2) NOT NULL,
	[TorokuTosu] [char](2) NULL,
	[SyussoTosu] [char](2) NULL,
	[HatubaiFlag1] [char](1) NULL,
	[HenkanUma1] [char](1) NULL,
	[HenkanUma2] [char](1) NULL,
	[HenkanUma3] [char](1) NULL,
	[HenkanUma4] [char](1) NULL,
	[HenkanUma5] [char](1) NULL,
	[HenkanUma6] [char](1) NULL,
	[HenkanUma7] [char](1) NULL,
	[HenkanUma8] [char](1) NULL,
	[HenkanUma9] [char](1) NULL,
	[HenkanUma10] [char](1) NULL,
	[HenkanUma11] [char](1) NULL,
	[HenkanUma12] [char](1) NULL,
	[HenkanUma13] [char](1) NULL,
	[HenkanUma14] [char](1) NULL,
	[HenkanUma15] [char](1) NULL,
	[HenkanUma16] [char](1) NULL,
	[HenkanUma17] [char](1) NULL,
	[HenkanUma18] [char](1) NULL,
	[HyoTotal1] [char](11) NULL,
	[HyoTotal2] [char](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC,
	[RaceNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[JOGAIBA]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[JOGAIBA](
	[RecordSpec] [char](2) NULL,
	[DataKubun] [char](1) NULL,
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[RaceNum] [char](2) NOT NULL,
	[KettoNum] [char](10) NOT NULL,
	[Bamei] [char](36) NULL,
	[ShutsubaTohyoJun] [char](3) NOT NULL,
	[ShussoKubun] [char](1) NULL,
	[JogaiJotaiKubun] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC,
	[RaceNum] ASC,
	[KettoNum] ASC,
	[ShutsubaTohyoJun] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[JYUSYOSIKI]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[JYUSYOSIKI](
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[Kumi] [char](10) NOT NULL,
	[PayJyushosiki] [char](9) NULL,
	[TekichuHyo] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[Kumi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[JYUSYOSIKI_HEAD]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[JYUSYOSIKI_HEAD](
	[RecordSpec] [char](2) NULL,
	[DataKubun] [char](1) NULL,
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[reserved1] [char](2) NULL,
	[JyoCD1] [char](2) NULL,
	[Kaiji1] [char](2) NULL,
	[Nichiji1] [char](2) NULL,
	[RaceNum1] [char](2) NULL,
	[JyoCD2] [char](2) NULL,
	[Kaiji2] [char](2) NULL,
	[Nichiji2] [char](2) NULL,
	[RaceNum2] [char](2) NULL,
	[JyoCD3] [char](2) NULL,
	[Kaiji3] [char](2) NULL,
	[Nichiji3] [char](2) NULL,
	[RaceNum3] [char](2) NULL,
	[JyoCD4] [char](2) NULL,
	[Kaiji4] [char](2) NULL,
	[Nichiji4] [char](2) NULL,
	[RaceNum4] [char](2) NULL,
	[JyoCD5] [char](2) NULL,
	[Kaiji5] [char](2) NULL,
	[Nichiji5] [char](2) NULL,
	[RaceNum5] [char](2) NULL,
	[reserved2] [char](6) NULL,
	[YukoHyosu1] [char](11) NULL,
	[YukoHyosu2] [char](11) NULL,
	[YukoHyosu3] [char](11) NULL,
	[YukoHyosu4] [char](11) NULL,
	[YukoHyosu5] [char](11) NULL,
	[HenkanFlag] [char](1) NULL,
	[FuseirituFlag] [char](1) NULL,
	[TekichunashiFlag] [char](1) NULL,
	[CarryoverSyoki] [char](15) NULL,
	[CarryoverZandaka] [char](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[KEITO]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[KEITO](
	[RecordSpec] [char](2) NULL,
	[DataKubun] [char](1) NULL,
	[MakeDate] [char](8) NULL,
	[HansyokuNum] [char](8) NOT NULL,
	[KeitoId] [char](30) NULL,
	[KeitoName] [char](36) NULL,
	[KeitoEx] [varchar](6886) NULL,
PRIMARY KEY CLUSTERED 
(
	[HansyokuNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[KISYU]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[KISYU](
	[RecordSpec] [char](2) NULL,
	[DataKubun] [char](1) NULL,
	[MakeDate] [char](8) NULL,
	[KisyuCode] [char](5) NOT NULL,
	[DelKubun] [char](1) NULL,
	[IssueDate] [char](8) NULL,
	[DelDate] [char](8) NULL,
	[BirthDate] [char](8) NULL,
	[KisyuName] [char](34) NULL,
	[reserved] [char](34) NULL,
	[KisyuNameKana] [char](30) NULL,
	[KisyuRyakusyo] [char](8) NULL,
	[KisyuNameEng] [char](80) NULL,
	[SexCD] [char](1) NULL,
	[SikakuCD] [char](1) NULL,
	[MinaraiCD] [char](1) NULL,
	[TozaiCD] [char](1) NULL,
	[Syotai] [char](20) NULL,
	[ChokyosiCode] [char](5) NULL,
	[ChokyosiRyakusyo] [char](8) NULL,
	[HatuKiJyo1Hatukijyoid] [char](16) NULL,
	[HatuKiJyo1SyussoTosu] [char](2) NULL,
	[HatuKiJyo1KettoNum] [char](10) NULL,
	[HatuKiJyo1Bamei] [char](36) NULL,
	[HatuKiJyo1KakuteiJyuni] [char](2) NULL,
	[HatuKiJyo1IJyoCD] [char](1) NULL,
	[HatuKiJyo2Hatukijyoid] [char](16) NULL,
	[HatuKiJyo2SyussoTosu] [char](2) NULL,
	[HatuKiJyo2KettoNum] [char](10) NULL,
	[HatuKiJyo2Bamei] [char](36) NULL,
	[HatuKiJyo2KakuteiJyuni] [char](2) NULL,
	[HatuKiJyo2IJyoCD] [char](1) NULL,
	[HatuSyori1Hatusyoriid] [char](16) NULL,
	[HatuSyori1SyussoTosu] [char](2) NULL,
	[HatuSyori1KettoNum] [char](10) NULL,
	[HatuSyori1Bamei] [char](36) NULL,
	[HatuSyori2Hatusyoriid] [char](16) NULL,
	[HatuSyori2SyussoTosu] [char](2) NULL,
	[HatuSyori2KettoNum] [char](10) NULL,
	[HatuSyori2Bamei] [char](36) NULL,
	[SaikinJyusyo1SaikinJyusyoid] [char](16) NULL,
	[SaikinJyusyo1Hondai] [char](60) NULL,
	[SaikinJyusyo1Ryakusyo10] [char](20) NULL,
	[SaikinJyusyo1Ryakusyo6] [char](12) NULL,
	[SaikinJyusyo1Ryakusyo3] [char](6) NULL,
	[SaikinJyusyo1GradeCD] [char](1) NULL,
	[SaikinJyusyo1SyussoTosu] [char](2) NULL,
	[SaikinJyusyo1KettoNum] [char](10) NULL,
	[SaikinJyusyo1Bamei] [char](36) NULL,
	[SaikinJyusyo2SaikinJyusyoid] [char](16) NULL,
	[SaikinJyusyo2Hondai] [char](60) NULL,
	[SaikinJyusyo2Ryakusyo10] [char](20) NULL,
	[SaikinJyusyo2Ryakusyo6] [char](12) NULL,
	[SaikinJyusyo2Ryakusyo3] [char](6) NULL,
	[SaikinJyusyo2GradeCD] [char](1) NULL,
	[SaikinJyusyo2SyussoTosu] [char](2) NULL,
	[SaikinJyusyo2KettoNum] [char](10) NULL,
	[SaikinJyusyo2Bamei] [char](36) NULL,
	[SaikinJyusyo3SaikinJyusyoid] [char](16) NULL,
	[SaikinJyusyo3Hondai] [char](60) NULL,
	[SaikinJyusyo3Ryakusyo10] [char](20) NULL,
	[SaikinJyusyo3Ryakusyo6] [char](12) NULL,
	[SaikinJyusyo3Ryakusyo3] [char](6) NULL,
	[SaikinJyusyo3GradeCD] [char](1) NULL,
	[SaikinJyusyo3SyussoTosu] [char](2) NULL,
	[SaikinJyusyo3KettoNum] [char](10) NULL,
	[SaikinJyusyo3Bamei] [char](36) NULL,
PRIMARY KEY CLUSTERED 
(
	[KisyuCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[KISYU_CHANGE]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[KISYU_CHANGE](
	[RecordSpec] [char](2) NULL,
	[DataKubun] [char](1) NULL,
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[RaceNum] [char](2) NOT NULL,
	[HappyoTime] [char](8) NOT NULL,
	[Umaban] [char](2) NOT NULL,
	[Bamei] [char](36) NULL,
	[AtoFutan] [char](3) NULL,
	[AtoKisyuCode] [char](5) NULL,
	[AtoKisyuName] [char](34) NULL,
	[AtoMinaraiCD] [char](1) NULL,
	[MaeFutan] [char](3) NULL,
	[MaeKisyuCode] [char](5) NULL,
	[MaeKisyuName] [char](34) NULL,
	[MaeMinaraiCD] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC,
	[RaceNum] ASC,
	[HappyoTime] ASC,
	[Umaban] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[KISYU_SEISEKI]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[KISYU_SEISEKI](
	[MakeDate] [char](8) NULL,
	[KisyuCode] [char](5) NOT NULL,
	[Num] [char](1) NOT NULL,
	[SetYear] [char](4) NULL,
	[HonSyokinHeichi] [char](10) NULL,
	[HonSyokinSyogai] [char](10) NULL,
	[FukaSyokinHeichi] [char](10) NULL,
	[FukaSyokinSyogai] [char](10) NULL,
	[HeichiChakukaisu1] [char](6) NULL,
	[HeichiChakukaisu2] [char](6) NULL,
	[HeichiChakukaisu3] [char](6) NULL,
	[HeichiChakukaisu4] [char](6) NULL,
	[HeichiChakukaisu5] [char](6) NULL,
	[HeichiChakukaisu6] [char](6) NULL,
	[SyogaiChakukaisu1] [char](6) NULL,
	[SyogaiChakukaisu2] [char](6) NULL,
	[SyogaiChakukaisu3] [char](6) NULL,
	[SyogaiChakukaisu4] [char](6) NULL,
	[SyogaiChakukaisu5] [char](6) NULL,
	[SyogaiChakukaisu6] [char](6) NULL,
	[Jyo1Chakukaisu1] [char](6) NULL,
	[Jyo1Chakukaisu2] [char](6) NULL,
	[Jyo1Chakukaisu3] [char](6) NULL,
	[Jyo1Chakukaisu4] [char](6) NULL,
	[Jyo1Chakukaisu5] [char](6) NULL,
	[Jyo1Chakukaisu6] [char](6) NULL,
	[Jyo2Chakukaisu1] [char](6) NULL,
	[Jyo2Chakukaisu2] [char](6) NULL,
	[Jyo2Chakukaisu3] [char](6) NULL,
	[Jyo2Chakukaisu4] [char](6) NULL,
	[Jyo2Chakukaisu5] [char](6) NULL,
	[Jyo2Chakukaisu6] [char](6) NULL,
	[Jyo3Chakukaisu1] [char](6) NULL,
	[Jyo3Chakukaisu2] [char](6) NULL,
	[Jyo3Chakukaisu3] [char](6) NULL,
	[Jyo3Chakukaisu4] [char](6) NULL,
	[Jyo3Chakukaisu5] [char](6) NULL,
	[Jyo3Chakukaisu6] [char](6) NULL,
	[Jyo4Chakukaisu1] [char](6) NULL,
	[Jyo4Chakukaisu2] [char](6) NULL,
	[Jyo4Chakukaisu3] [char](6) NULL,
	[Jyo4Chakukaisu4] [char](6) NULL,
	[Jyo4Chakukaisu5] [char](6) NULL,
	[Jyo4Chakukaisu6] [char](6) NULL,
	[Jyo5Chakukaisu1] [char](6) NULL,
	[Jyo5Chakukaisu2] [char](6) NULL,
	[Jyo5Chakukaisu3] [char](6) NULL,
	[Jyo5Chakukaisu4] [char](6) NULL,
	[Jyo5Chakukaisu5] [char](6) NULL,
	[Jyo5Chakukaisu6] [char](6) NULL,
	[Jyo6Chakukaisu1] [char](6) NULL,
	[Jyo6Chakukaisu2] [char](6) NULL,
	[Jyo6Chakukaisu3] [char](6) NULL,
	[Jyo6Chakukaisu4] [char](6) NULL,
	[Jyo6Chakukaisu5] [char](6) NULL,
	[Jyo6Chakukaisu6] [char](6) NULL,
	[Jyo7Chakukaisu1] [char](6) NULL,
	[Jyo7Chakukaisu2] [char](6) NULL,
	[Jyo7Chakukaisu3] [char](6) NULL,
	[Jyo7Chakukaisu4] [char](6) NULL,
	[Jyo7Chakukaisu5] [char](6) NULL,
	[Jyo7Chakukaisu6] [char](6) NULL,
	[Jyo8Chakukaisu1] [char](6) NULL,
	[Jyo8Chakukaisu2] [char](6) NULL,
	[Jyo8Chakukaisu3] [char](6) NULL,
	[Jyo8Chakukaisu4] [char](6) NULL,
	[Jyo8Chakukaisu5] [char](6) NULL,
	[Jyo8Chakukaisu6] [char](6) NULL,
	[Jyo9Chakukaisu1] [char](6) NULL,
	[Jyo9Chakukaisu2] [char](6) NULL,
	[Jyo9Chakukaisu3] [char](6) NULL,
	[Jyo9Chakukaisu4] [char](6) NULL,
	[Jyo9Chakukaisu5] [char](6) NULL,
	[Jyo9Chakukaisu6] [char](6) NULL,
	[Jyo10Chakukaisu1] [char](6) NULL,
	[Jyo10Chakukaisu2] [char](6) NULL,
	[Jyo10Chakukaisu3] [char](6) NULL,
	[Jyo10Chakukaisu4] [char](6) NULL,
	[Jyo10Chakukaisu5] [char](6) NULL,
	[Jyo10Chakukaisu6] [char](6) NULL,
	[Jyo11Chakukaisu1] [char](6) NULL,
	[Jyo11Chakukaisu2] [char](6) NULL,
	[Jyo11Chakukaisu3] [char](6) NULL,
	[Jyo11Chakukaisu4] [char](6) NULL,
	[Jyo11Chakukaisu5] [char](6) NULL,
	[Jyo11Chakukaisu6] [char](6) NULL,
	[Jyo12Chakukaisu1] [char](6) NULL,
	[Jyo12Chakukaisu2] [char](6) NULL,
	[Jyo12Chakukaisu3] [char](6) NULL,
	[Jyo12Chakukaisu4] [char](6) NULL,
	[Jyo12Chakukaisu5] [char](6) NULL,
	[Jyo12Chakukaisu6] [char](6) NULL,
	[Jyo13Chakukaisu1] [char](6) NULL,
	[Jyo13Chakukaisu2] [char](6) NULL,
	[Jyo13Chakukaisu3] [char](6) NULL,
	[Jyo13Chakukaisu4] [char](6) NULL,
	[Jyo13Chakukaisu5] [char](6) NULL,
	[Jyo13Chakukaisu6] [char](6) NULL,
	[Jyo14Chakukaisu1] [char](6) NULL,
	[Jyo14Chakukaisu2] [char](6) NULL,
	[Jyo14Chakukaisu3] [char](6) NULL,
	[Jyo14Chakukaisu4] [char](6) NULL,
	[Jyo14Chakukaisu5] [char](6) NULL,
	[Jyo14Chakukaisu6] [char](6) NULL,
	[Jyo15Chakukaisu1] [char](6) NULL,
	[Jyo15Chakukaisu2] [char](6) NULL,
	[Jyo15Chakukaisu3] [char](6) NULL,
	[Jyo15Chakukaisu4] [char](6) NULL,
	[Jyo15Chakukaisu5] [char](6) NULL,
	[Jyo15Chakukaisu6] [char](6) NULL,
	[Jyo16Chakukaisu1] [char](6) NULL,
	[Jyo16Chakukaisu2] [char](6) NULL,
	[Jyo16Chakukaisu3] [char](6) NULL,
	[Jyo16Chakukaisu4] [char](6) NULL,
	[Jyo16Chakukaisu5] [char](6) NULL,
	[Jyo16Chakukaisu6] [char](6) NULL,
	[Jyo17Chakukaisu1] [char](6) NULL,
	[Jyo17Chakukaisu2] [char](6) NULL,
	[Jyo17Chakukaisu3] [char](6) NULL,
	[Jyo17Chakukaisu4] [char](6) NULL,
	[Jyo17Chakukaisu5] [char](6) NULL,
	[Jyo17Chakukaisu6] [char](6) NULL,
	[Jyo18Chakukaisu1] [char](6) NULL,
	[Jyo18Chakukaisu2] [char](6) NULL,
	[Jyo18Chakukaisu3] [char](6) NULL,
	[Jyo18Chakukaisu4] [char](6) NULL,
	[Jyo18Chakukaisu5] [char](6) NULL,
	[Jyo18Chakukaisu6] [char](6) NULL,
	[Jyo19Chakukaisu1] [char](6) NULL,
	[Jyo19Chakukaisu2] [char](6) NULL,
	[Jyo19Chakukaisu3] [char](6) NULL,
	[Jyo19Chakukaisu4] [char](6) NULL,
	[Jyo19Chakukaisu5] [char](6) NULL,
	[Jyo19Chakukaisu6] [char](6) NULL,
	[Jyo20Chakukaisu1] [char](6) NULL,
	[Jyo20Chakukaisu2] [char](6) NULL,
	[Jyo20Chakukaisu3] [char](6) NULL,
	[Jyo20Chakukaisu4] [char](6) NULL,
	[Jyo20Chakukaisu5] [char](6) NULL,
	[Jyo20Chakukaisu6] [char](6) NULL,
	[Kyori1Chakukaisu1] [char](6) NULL,
	[Kyori1Chakukaisu2] [char](6) NULL,
	[Kyori1Chakukaisu3] [char](6) NULL,
	[Kyori1Chakukaisu4] [char](6) NULL,
	[Kyori1Chakukaisu5] [char](6) NULL,
	[Kyori1Chakukaisu6] [char](6) NULL,
	[Kyori2Chakukaisu1] [char](6) NULL,
	[Kyori2Chakukaisu2] [char](6) NULL,
	[Kyori2Chakukaisu3] [char](6) NULL,
	[Kyori2Chakukaisu4] [char](6) NULL,
	[Kyori2Chakukaisu5] [char](6) NULL,
	[Kyori2Chakukaisu6] [char](6) NULL,
	[Kyori3Chakukaisu1] [char](6) NULL,
	[Kyori3Chakukaisu2] [char](6) NULL,
	[Kyori3Chakukaisu3] [char](6) NULL,
	[Kyori3Chakukaisu4] [char](6) NULL,
	[Kyori3Chakukaisu5] [char](6) NULL,
	[Kyori3Chakukaisu6] [char](6) NULL,
	[Kyori4Chakukaisu1] [char](6) NULL,
	[Kyori4Chakukaisu2] [char](6) NULL,
	[Kyori4Chakukaisu3] [char](6) NULL,
	[Kyori4Chakukaisu4] [char](6) NULL,
	[Kyori4Chakukaisu5] [char](6) NULL,
	[Kyori4Chakukaisu6] [char](6) NULL,
	[Kyori5Chakukaisu1] [char](6) NULL,
	[Kyori5Chakukaisu2] [char](6) NULL,
	[Kyori5Chakukaisu3] [char](6) NULL,
	[Kyori5Chakukaisu4] [char](6) NULL,
	[Kyori5Chakukaisu5] [char](6) NULL,
	[Kyori5Chakukaisu6] [char](6) NULL,
	[Kyori6Chakukaisu1] [char](6) NULL,
	[Kyori6Chakukaisu2] [char](6) NULL,
	[Kyori6Chakukaisu3] [char](6) NULL,
	[Kyori6Chakukaisu4] [char](6) NULL,
	[Kyori6Chakukaisu5] [char](6) NULL,
	[Kyori6Chakukaisu6] [char](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[KisyuCode] ASC,
	[Num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[MINING]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[MINING](
	[RecordSpec] [char](2) NULL,
	[DataKubun] [char](1) NULL,
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[RaceNum] [char](2) NOT NULL,
	[MakeHM] [char](4) NULL,
	[Umaban1] [char](2) NULL,
	[DMTime1] [char](5) NULL,
	[DMGosaP1] [char](4) NULL,
	[DMGosaM1] [char](4) NULL,
	[Umaban2] [char](2) NULL,
	[DMTime2] [char](5) NULL,
	[DMGosaP2] [char](4) NULL,
	[DMGosaM2] [char](4) NULL,
	[Umaban3] [char](2) NULL,
	[DMTime3] [char](5) NULL,
	[DMGosaP3] [char](4) NULL,
	[DMGosaM3] [char](4) NULL,
	[Umaban4] [char](2) NULL,
	[DMTime4] [char](5) NULL,
	[DMGosaP4] [char](4) NULL,
	[DMGosaM4] [char](4) NULL,
	[Umaban5] [char](2) NULL,
	[DMTime5] [char](5) NULL,
	[DMGosaP5] [char](4) NULL,
	[DMGosaM5] [char](4) NULL,
	[Umaban6] [char](2) NULL,
	[DMTime6] [char](5) NULL,
	[DMGosaP6] [char](4) NULL,
	[DMGosaM6] [char](4) NULL,
	[Umaban7] [char](2) NULL,
	[DMTime7] [char](5) NULL,
	[DMGosaP7] [char](4) NULL,
	[DMGosaM7] [char](4) NULL,
	[Umaban8] [char](2) NULL,
	[DMTime8] [char](5) NULL,
	[DMGosaP8] [char](4) NULL,
	[DMGosaM8] [char](4) NULL,
	[Umaban9] [char](2) NULL,
	[DMTime9] [char](5) NULL,
	[DMGosaP9] [char](4) NULL,
	[DMGosaM9] [char](4) NULL,
	[Umaban10] [char](2) NULL,
	[DMTime10] [char](5) NULL,
	[DMGosaP10] [char](4) NULL,
	[DMGosaM10] [char](4) NULL,
	[Umaban11] [char](2) NULL,
	[DMTime11] [char](5) NULL,
	[DMGosaP11] [char](4) NULL,
	[DMGosaM11] [char](4) NULL,
	[Umaban12] [char](2) NULL,
	[DMTime12] [char](5) NULL,
	[DMGosaP12] [char](4) NULL,
	[DMGosaM12] [char](4) NULL,
	[Umaban13] [char](2) NULL,
	[DMTime13] [char](5) NULL,
	[DMGosaP13] [char](4) NULL,
	[DMGosaM13] [char](4) NULL,
	[Umaban14] [char](2) NULL,
	[DMTime14] [char](5) NULL,
	[DMGosaP14] [char](4) NULL,
	[DMGosaM14] [char](4) NULL,
	[Umaban15] [char](2) NULL,
	[DMTime15] [char](5) NULL,
	[DMGosaP15] [char](4) NULL,
	[DMGosaM15] [char](4) NULL,
	[Umaban16] [char](2) NULL,
	[DMTime16] [char](5) NULL,
	[DMGosaP16] [char](4) NULL,
	[DMGosaM16] [char](4) NULL,
	[Umaban17] [char](2) NULL,
	[DMTime17] [char](5) NULL,
	[DMGosaP17] [char](4) NULL,
	[DMGosaM17] [char](4) NULL,
	[Umaban18] [char](2) NULL,
	[DMTime18] [char](5) NULL,
	[DMGosaP18] [char](4) NULL,
	[DMGosaM18] [char](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC,
	[RaceNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[ODDS_SANREN]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[ODDS_SANREN](
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[RaceNum] [char](2) NOT NULL,
	[Kumi] [char](6) NOT NULL,
	[Odds] [char](6) NULL,
	[Ninki] [char](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC,
	[RaceNum] ASC,
	[Kumi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[ODDS_SANREN_HEAD]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[ODDS_SANREN_HEAD](
	[RecordSpec] [char](2) NULL,
	[DataKubun] [char](1) NULL,
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[RaceNum] [char](2) NOT NULL,
	[HappyoTime] [char](8) NULL,
	[TorokuTosu] [char](2) NULL,
	[SyussoTosu] [char](2) NULL,
	[SanrenFlag] [char](1) NULL,
	[TotalHyosuSanren] [char](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC,
	[RaceNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[ODDS_SANRENTAN]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[ODDS_SANRENTAN](
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[RaceNum] [char](2) NOT NULL,
	[Kumi] [char](6) NOT NULL,
	[Odds] [char](7) NULL,
	[Ninki] [char](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC,
	[RaceNum] ASC,
	[Kumi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[ODDS_SANRENTAN_HEAD]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[ODDS_SANRENTAN_HEAD](
	[RecordSpec] [char](2) NULL,
	[DataKubun] [char](1) NULL,
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[RaceNum] [char](2) NOT NULL,
	[HappyoTime] [char](8) NULL,
	[TorokuTosu] [char](2) NULL,
	[SyussoTosu] [char](2) NULL,
	[SanrentanFlag] [char](1) NULL,
	[TotalHyosuSanrentan] [char](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC,
	[RaceNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[ODDS_TANPUKU]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[ODDS_TANPUKU](
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[RaceNum] [char](2) NOT NULL,
	[Umaban] [char](2) NOT NULL,
	[TanOdds] [char](4) NULL,
	[TanNinki] [char](2) NULL,
	[FukuOddsLow] [char](4) NULL,
	[FukuOddsHigh] [char](4) NULL,
	[FukuNinki] [char](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC,
	[RaceNum] ASC,
	[Umaban] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[ODDS_TANPUKUWAKU_HEAD]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[ODDS_TANPUKUWAKU_HEAD](
	[RecordSpec] [char](2) NULL,
	[DataKubun] [char](1) NULL,
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[RaceNum] [char](2) NOT NULL,
	[HappyoTime] [char](8) NULL,
	[TorokuTosu] [char](2) NULL,
	[SyussoTosu] [char](2) NULL,
	[TansyoFlag] [char](1) NULL,
	[FukusyoFlag] [char](1) NULL,
	[WakurenFlag] [char](1) NULL,
	[FukuChakuBaraiKey] [char](1) NULL,
	[TotalHyosuTansyo] [char](11) NULL,
	[TotalHyosuFukusyo] [char](11) NULL,
	[TotalHyosuWakuren] [char](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC,
	[RaceNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[ODDS_UMAREN]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[ODDS_UMAREN](
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[RaceNum] [char](2) NOT NULL,
	[Kumi] [char](4) NOT NULL,
	[Odds] [char](6) NULL,
	[Ninki] [char](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC,
	[RaceNum] ASC,
	[Kumi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[ODDS_UMAREN_HEAD]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[ODDS_UMAREN_HEAD](
	[RecordSpec] [char](2) NULL,
	[DataKubun] [char](1) NULL,
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[RaceNum] [char](2) NOT NULL,
	[HappyoTime] [char](8) NULL,
	[TorokuTosu] [char](2) NULL,
	[SyussoTosu] [char](2) NULL,
	[UmarenFlag] [char](1) NULL,
	[TotalHyosuUmaren] [char](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC,
	[RaceNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[ODDS_UMATAN]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[ODDS_UMATAN](
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[RaceNum] [char](2) NOT NULL,
	[Kumi] [char](4) NOT NULL,
	[Odds] [char](6) NULL,
	[Ninki] [char](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC,
	[RaceNum] ASC,
	[Kumi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[ODDS_UMATAN_HEAD]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[ODDS_UMATAN_HEAD](
	[RecordSpec] [char](2) NULL,
	[DataKubun] [char](1) NULL,
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[RaceNum] [char](2) NOT NULL,
	[HappyoTime] [char](8) NULL,
	[TorokuTosu] [char](2) NULL,
	[SyussoTosu] [char](2) NULL,
	[UmatanFlag] [char](1) NULL,
	[TotalHyosuUmatan] [char](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC,
	[RaceNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[ODDS_WAKU]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[ODDS_WAKU](
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[RaceNum] [char](2) NOT NULL,
	[Kumi] [char](2) NOT NULL,
	[Odds] [char](5) NULL,
	[Ninki] [char](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC,
	[RaceNum] ASC,
	[Kumi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[ODDS_WIDE]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[ODDS_WIDE](
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[RaceNum] [char](2) NOT NULL,
	[Kumi] [char](4) NOT NULL,
	[OddsLow] [char](5) NULL,
	[OddsHigh] [char](5) NULL,
	[Ninki] [char](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC,
	[RaceNum] ASC,
	[Kumi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[ODDS_WIDE_HEAD]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[ODDS_WIDE_HEAD](
	[RecordSpec] [char](2) NULL,
	[DataKubun] [char](1) NULL,
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[RaceNum] [char](2) NOT NULL,
	[HappyoTime] [char](8) NULL,
	[TorokuTosu] [char](2) NULL,
	[SyussoTosu] [char](2) NULL,
	[WideFlag] [char](1) NULL,
	[TotalHyosuWide] [char](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC,
	[RaceNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[RACE]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[RACE](
	[RecordSpec] [char](2) NULL,
	[DataKubun] [char](1) NULL,
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[RaceNum] [char](2) NOT NULL,
	[YoubiCD] [char](1) NULL,
	[TokuNum] [char](4) NULL,
	[Hondai] [char](60) NULL,
	[Fukudai] [char](60) NULL,
	[Kakko] [char](60) NULL,
	[HondaiEng] [char](120) NULL,
	[FukudaiEng] [char](120) NULL,
	[KakkoEng] [char](120) NULL,
	[Ryakusyo10] [char](20) NULL,
	[Ryakusyo6] [char](12) NULL,
	[Ryakusyo3] [char](6) NULL,
	[Kubun] [char](1) NULL,
	[Nkai] [char](3) NULL,
	[GradeCD] [char](1) NULL,
	[GradeCDBefore] [char](1) NULL,
	[SyubetuCD] [char](2) NULL,
	[KigoCD] [char](3) NULL,
	[JyuryoCD] [char](1) NULL,
	[JyokenCD1] [char](3) NULL,
	[JyokenCD2] [char](3) NULL,
	[JyokenCD3] [char](3) NULL,
	[JyokenCD4] [char](3) NULL,
	[JyokenCD5] [char](3) NULL,
	[JyokenName] [char](60) NULL,
	[Kyori] [char](4) NULL,
	[KyoriBefore] [char](4) NULL,
	[TrackCD] [char](2) NULL,
	[TrackCDBefore] [char](2) NULL,
	[CourseKubunCD] [char](2) NULL,
	[CourseKubunCDBefore] [char](2) NULL,
	[Honsyokin1] [char](8) NULL,
	[Honsyokin2] [char](8) NULL,
	[Honsyokin3] [char](8) NULL,
	[Honsyokin4] [char](8) NULL,
	[Honsyokin5] [char](8) NULL,
	[Honsyokin6] [char](8) NULL,
	[Honsyokin7] [char](8) NULL,
	[HonsyokinBefore1] [char](8) NULL,
	[HonsyokinBefore2] [char](8) NULL,
	[HonsyokinBefore3] [char](8) NULL,
	[HonsyokinBefore4] [char](8) NULL,
	[HonsyokinBefore5] [char](8) NULL,
	[Fukasyokin1] [char](8) NULL,
	[Fukasyokin2] [char](8) NULL,
	[Fukasyokin3] [char](8) NULL,
	[Fukasyokin4] [char](8) NULL,
	[Fukasyokin5] [char](8) NULL,
	[FukasyokinBefore1] [char](8) NULL,
	[FukasyokinBefore2] [char](8) NULL,
	[FukasyokinBefore3] [char](8) NULL,
	[HassoTime] [char](4) NULL,
	[HassoTimeBefore] [char](4) NULL,
	[TorokuTosu] [char](2) NULL,
	[SyussoTosu] [char](2) NULL,
	[NyusenTosu] [char](2) NULL,
	[TenkoCD] [char](1) NULL,
	[SibaBabaCD] [char](1) NULL,
	[DirtBabaCD] [char](1) NULL,
	[LapTime1] [char](3) NULL,
	[LapTime2] [char](3) NULL,
	[LapTime3] [char](3) NULL,
	[LapTime4] [char](3) NULL,
	[LapTime5] [char](3) NULL,
	[LapTime6] [char](3) NULL,
	[LapTime7] [char](3) NULL,
	[LapTime8] [char](3) NULL,
	[LapTime9] [char](3) NULL,
	[LapTime10] [char](3) NULL,
	[LapTime11] [char](3) NULL,
	[LapTime12] [char](3) NULL,
	[LapTime13] [char](3) NULL,
	[LapTime14] [char](3) NULL,
	[LapTime15] [char](3) NULL,
	[LapTime16] [char](3) NULL,
	[LapTime17] [char](3) NULL,
	[LapTime18] [char](3) NULL,
	[LapTime19] [char](3) NULL,
	[LapTime20] [char](3) NULL,
	[LapTime21] [char](3) NULL,
	[LapTime22] [char](3) NULL,
	[LapTime23] [char](3) NULL,
	[LapTime24] [char](3) NULL,
	[LapTime25] [char](3) NULL,
	[SyogaiMileTime] [char](4) NULL,
	[HaronTimeS3] [char](3) NULL,
	[HaronTimeS4] [char](3) NULL,
	[HaronTimeL3] [char](3) NULL,
	[HaronTimeL4] [char](3) NULL,
	[Corner1] [char](1) NULL,
	[Syukaisu1] [char](1) NULL,
	[Jyuni1] [char](70) NULL,
	[Corner2] [char](1) NULL,
	[Syukaisu2] [char](1) NULL,
	[Jyuni2] [char](70) NULL,
	[Corner3] [char](1) NULL,
	[Syukaisu3] [char](1) NULL,
	[Jyuni3] [char](70) NULL,
	[Corner4] [char](1) NULL,
	[Syukaisu4] [char](1) NULL,
	[Jyuni4] [char](70) NULL,
	[RecordUpKubun] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC,
	[RaceNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[RECORD]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[RECORD](
	[RecordSpec] [char](2) NULL,
	[DataKubun] [char](1) NULL,
	[MakeDate] [char](8) NULL,
	[RecInfoKubun] [char](1) NOT NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[RaceNum] [char](2) NOT NULL,
	[TokuNum] [char](4) NOT NULL,
	[Hondai] [char](60) NULL,
	[GradeCD] [char](1) NULL,
	[SyubetuCD_TrackCD] [char](4) NOT NULL,
	[Kyori] [char](4) NOT NULL,
	[RecKubun] [char](1) NULL,
	[RecTime] [char](4) NULL,
	[TenkoCD] [char](1) NULL,
	[SibaBabaCD] [char](1) NULL,
	[DirtBabaCD] [char](1) NULL,
	[RecUmaKettoNum1] [char](10) NULL,
	[RecUmaBamei1] [char](36) NULL,
	[RecUmaUmaKigoCD1] [char](2) NULL,
	[RecUmaSexCD1] [char](1) NULL,
	[RecUmaChokyosiCode1] [char](5) NULL,
	[RecUmaChokyosiName1] [char](34) NULL,
	[RecUmaFutan1] [char](3) NULL,
	[RecUmaKisyuCode1] [char](5) NULL,
	[RecUmaKisyuName1] [char](34) NULL,
	[RecUmaKettoNum2] [char](10) NULL,
	[RecUmaBamei2] [char](36) NULL,
	[RecUmaUmaKigoCD2] [char](2) NULL,
	[RecUmaSexCD2] [char](1) NULL,
	[RecUmaChokyosiCode2] [char](5) NULL,
	[RecUmaChokyosiName2] [char](34) NULL,
	[RecUmaFutan2] [char](3) NULL,
	[RecUmaKisyuCode2] [char](5) NULL,
	[RecUmaKisyuName2] [char](34) NULL,
	[RecUmaKettoNum3] [char](10) NULL,
	[RecUmaBamei3] [char](36) NULL,
	[RecUmaUmaKigoCD3] [char](2) NULL,
	[RecUmaSexCD3] [char](1) NULL,
	[RecUmaChokyosiCode3] [char](5) NULL,
	[RecUmaChokyosiName3] [char](34) NULL,
	[RecUmaFutan3] [char](3) NULL,
	[RecUmaKisyuCode3] [char](5) NULL,
	[RecUmaKisyuName3] [char](34) NULL,
PRIMARY KEY CLUSTERED 
(
	[RecInfoKubun] ASC,
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC,
	[RaceNum] ASC,
	[TokuNum] ASC,
	[SyubetuCD_TrackCD] ASC,
	[Kyori] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[SALE]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[SALE](
	[RecordSpec] [char](2) NULL,
	[DataKubun] [char](1) NULL,
	[MakeDate] [char](8) NULL,
	[KettoNum] [char](10) NOT NULL,
	[HansyokuFNum] [char](8) NULL,
	[HansyokuMNum] [char](8) NULL,
	[BirthYear] [char](4) NULL,
	[SaleCode] [char](6) NOT NULL,
	[SaleHostName] [char](40) NULL,
	[SaleName] [char](80) NULL,
	[FromDate] [char](8) NOT NULL,
	[ToDate] [char](8) NULL,
	[Barei] [char](1) NULL,
	[Price] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[KettoNum] ASC,
	[SaleCode] ASC,
	[FromDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[SANKU]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[SANKU](
	[RecordSpec] [char](2) NULL,
	[DataKubun] [char](1) NULL,
	[MakeDate] [char](8) NULL,
	[KettoNum] [char](10) NOT NULL,
	[BirthDate] [char](8) NULL,
	[SexCD] [char](1) NULL,
	[HinsyuCD] [char](1) NULL,
	[KeiroCD] [char](2) NULL,
	[SankuMochiKubun] [char](1) NULL,
	[ImportYear] [char](4) NULL,
	[BreederCode] [char](6) NULL,
	[SanchiName] [char](20) NULL,
	[FNum] [char](8) NULL,
	[MNum] [char](8) NULL,
	[FFNum] [char](8) NULL,
	[FMNum] [char](8) NULL,
	[MFNum] [char](8) NULL,
	[MMNum] [char](8) NULL,
	[FFFNum] [char](8) NULL,
	[FFMNum] [char](8) NULL,
	[FMFNum] [char](8) NULL,
	[FMMNum] [char](8) NULL,
	[MFFNum] [char](8) NULL,
	[MFMNum] [char](8) NULL,
	[MMFNum] [char](8) NULL,
	[MMMNum] [char](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[KettoNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[SCHEDULE]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[SCHEDULE](
	[RecordSpec] [char](2) NULL,
	[DataKubun] [char](1) NULL,
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[YoubiCD] [char](1) NULL,
	[Jyusyo1TokuNum] [char](4) NULL,
	[Jyusyo1Hondai] [char](60) NULL,
	[Jyusyo1Ryakusyo10] [char](20) NULL,
	[Jyusyo1Ryakusyo6] [char](12) NULL,
	[Jyusyo1Ryakusyo3] [char](6) NULL,
	[Jyusyo1Nkai] [char](3) NULL,
	[Jyusyo1GradeCD] [char](1) NULL,
	[Jyusyo1SyubetuCD] [char](2) NULL,
	[Jyusyo1KigoCD] [char](3) NULL,
	[Jyusyo1JyuryoCD] [char](1) NULL,
	[Jyusyo1Kyori] [char](4) NULL,
	[Jyusyo1TrackCD] [char](2) NULL,
	[Jyusyo2TokuNum] [char](4) NULL,
	[Jyusyo2Hondai] [char](60) NULL,
	[Jyusyo2Ryakusyo10] [char](20) NULL,
	[Jyusyo2Ryakusyo6] [char](12) NULL,
	[Jyusyo2Ryakusyo3] [char](6) NULL,
	[Jyusyo2Nkai] [char](3) NULL,
	[Jyusyo2GradeCD] [char](1) NULL,
	[Jyusyo2SyubetuCD] [char](2) NULL,
	[Jyusyo2KigoCD] [char](3) NULL,
	[Jyusyo2JyuryoCD] [char](1) NULL,
	[Jyusyo2Kyori] [char](4) NULL,
	[Jyusyo2TrackCD] [char](2) NULL,
	[Jyusyo3TokuNum] [char](4) NULL,
	[Jyusyo3Hondai] [char](60) NULL,
	[Jyusyo3Ryakusyo10] [char](20) NULL,
	[Jyusyo3Ryakusyo6] [char](12) NULL,
	[Jyusyo3Ryakusyo3] [char](6) NULL,
	[Jyusyo3Nkai] [char](3) NULL,
	[Jyusyo3GradeCD] [char](1) NULL,
	[Jyusyo3SyubetuCD] [char](2) NULL,
	[Jyusyo3KigoCD] [char](3) NULL,
	[Jyusyo3JyuryoCD] [char](1) NULL,
	[Jyusyo3Kyori] [char](4) NULL,
	[Jyusyo3TrackCD] [char](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[SEISAN]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[SEISAN](
	[RecordSpec] [char](2) NULL,
	[DataKubun] [char](1) NULL,
	[MakeDate] [char](8) NULL,
	[BreederCode] [char](6) NOT NULL,
	[BreederName_Co] [char](70) NULL,
	[BreederName] [char](70) NULL,
	[BreederNameKana] [char](70) NULL,
	[BreederNameEng] [char](168) NULL,
	[Address] [char](20) NULL,
	[H_SetYear] [char](4) NULL,
	[H_HonSyokinTotal] [char](10) NULL,
	[H_FukaSyokin] [char](10) NULL,
	[H_ChakuKaisu1] [char](6) NULL,
	[H_ChakuKaisu2] [char](6) NULL,
	[H_ChakuKaisu3] [char](6) NULL,
	[H_ChakuKaisu4] [char](6) NULL,
	[H_ChakuKaisu5] [char](6) NULL,
	[H_ChakuKaisu6] [char](6) NULL,
	[R_SetYear] [char](4) NULL,
	[R_HonSyokinTotal] [char](10) NULL,
	[R_FukaSyokin] [char](10) NULL,
	[R_ChakuKaisu1] [char](6) NULL,
	[R_ChakuKaisu2] [char](6) NULL,
	[R_ChakuKaisu3] [char](6) NULL,
	[R_ChakuKaisu4] [char](6) NULL,
	[R_ChakuKaisu5] [char](6) NULL,
	[R_ChakuKaisu6] [char](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[BreederCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[TAISENGATA_MINING]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[TAISENGATA_MINING](
	[RecordSpec] [char](2) NULL,
	[DataKubun] [char](1) NULL,
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[RaceNum] [char](2) NOT NULL,
	[MakeHM] [char](4) NULL,
	[Umaban1] [char](2) NULL,
	[TMScore1] [char](4) NULL,
	[Umaban2] [char](2) NULL,
	[TMScore2] [char](4) NULL,
	[Umaban3] [char](2) NULL,
	[TMScore3] [char](4) NULL,
	[Umaban4] [char](2) NULL,
	[TMScore4] [char](4) NULL,
	[Umaban5] [char](2) NULL,
	[TMScore5] [char](4) NULL,
	[Umaban6] [char](2) NULL,
	[TMScore6] [char](4) NULL,
	[Umaban7] [char](2) NULL,
	[TMScore7] [char](4) NULL,
	[Umaban8] [char](2) NULL,
	[TMScore8] [char](4) NULL,
	[Umaban9] [char](2) NULL,
	[TMScore9] [char](4) NULL,
	[Umaban10] [char](2) NULL,
	[TMScore10] [char](4) NULL,
	[Umaban11] [char](2) NULL,
	[TMScore11] [char](4) NULL,
	[Umaban12] [char](2) NULL,
	[TMScore12] [char](4) NULL,
	[Umaban13] [char](2) NULL,
	[TMScore13] [char](4) NULL,
	[Umaban14] [char](2) NULL,
	[TMScore14] [char](4) NULL,
	[Umaban15] [char](2) NULL,
	[TMScore15] [char](4) NULL,
	[Umaban16] [char](2) NULL,
	[TMScore16] [char](4) NULL,
	[Umaban17] [char](2) NULL,
	[TMScore17] [char](4) NULL,
	[Umaban18] [char](2) NULL,
	[TMScore18] [char](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC,
	[RaceNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[TENKO_BABA]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[TENKO_BABA](
	[RecordSpec] [char](2) NULL,
	[DataKubun] [char](1) NULL,
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[HappyoTime] [char](8) NOT NULL,
	[HenkoID] [char](1) NOT NULL,
	[AtoTenkoCD] [char](1) NULL,
	[AtoSibaBabaCD] [char](1) NULL,
	[AtoDirtBabaCD] [char](1) NULL,
	[MaeTenkoCD] [char](1) NULL,
	[MaeSibaBabaCD] [char](1) NULL,
	[MaeDirtBabaCD] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC,
	[HappyoTime] ASC,
	[HenkoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[TOKU]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[TOKU](
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[RaceNum] [char](2) NOT NULL,
	[Num] [char](3) NOT NULL,
	[KettoNum] [char](10) NULL,
	[Bamei] [char](36) NULL,
	[UmaKigoCD] [char](2) NULL,
	[SexCD] [char](1) NULL,
	[TozaiCD] [char](1) NULL,
	[ChokyosiCode] [char](5) NULL,
	[ChokyosiRyakusyo] [char](8) NULL,
	[Futan] [char](3) NULL,
	[Koryu] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC,
	[RaceNum] ASC,
	[Num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[TOKU_RACE]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[TOKU_RACE](
	[RecordSpec] [char](2) NULL,
	[DataKubun] [char](1) NULL,
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[RaceNum] [char](2) NOT NULL,
	[YoubiCD] [char](1) NULL,
	[TokuNum] [char](4) NULL,
	[Hondai] [char](60) NULL,
	[Fukudai] [char](60) NULL,
	[Kakko] [char](60) NULL,
	[HondaiEng] [char](120) NULL,
	[FukudaiEng] [char](120) NULL,
	[KakkoEng] [char](120) NULL,
	[Ryakusyo10] [char](20) NULL,
	[Ryakusyo6] [char](12) NULL,
	[Ryakusyo3] [char](6) NULL,
	[Kubun] [char](1) NULL,
	[Nkai] [char](3) NULL,
	[GradeCD] [char](1) NULL,
	[SyubetuCD] [char](2) NULL,
	[KigoCD] [char](3) NULL,
	[JyuryoCD] [char](1) NULL,
	[JyokenCD1] [char](3) NULL,
	[JyokenCD2] [char](3) NULL,
	[JyokenCD3] [char](3) NULL,
	[JyokenCD4] [char](3) NULL,
	[JyokenCD5] [char](3) NULL,
	[Kyori] [char](4) NULL,
	[TrackCD] [char](2) NULL,
	[CourseKubunCD] [char](2) NULL,
	[HandiDate] [char](8) NULL,
	[TorokuTosu] [char](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC,
	[RaceNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[TORIKESI_JYOGAI]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[TORIKESI_JYOGAI](
	[RecordSpec] [char](2) NULL,
	[DataKubun] [char](1) NULL,
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[RaceNum] [char](2) NOT NULL,
	[HappyoTime] [char](8) NULL,
	[Umaban] [char](2) NOT NULL,
	[Bamei] [char](36) NULL,
	[JiyuKubun] [char](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC,
	[RaceNum] ASC,
	[Umaban] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[UMA]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[UMA](
	[RecordSpec] [char](2) NULL,
	[DataKubun] [char](1) NULL,
	[MakeDate] [char](8) NULL,
	[KettoNum] [char](10) NOT NULL,
	[DelKubun] [char](1) NULL,
	[RegDate] [char](8) NULL,
	[DelDate] [char](8) NULL,
	[BirthDate] [char](8) NULL,
	[Bamei] [char](36) NULL,
	[BameiKana] [char](36) NULL,
	[BameiEng] [char](60) NULL,
	[ZaikyuFlag] [char](1) NULL,
	[Reserved] [char](19) NULL,
	[UmaKigoCD] [char](2) NULL,
	[SexCD] [char](1) NULL,
	[HinsyuCD] [char](1) NULL,
	[KeiroCD] [char](2) NULL,
	[Ketto3InfoHansyokuNum1] [char](8) NULL,
	[Ketto3InfoBamei1] [char](36) NULL,
	[Ketto3InfoHansyokuNum2] [char](8) NULL,
	[Ketto3InfoBamei2] [char](36) NULL,
	[Ketto3InfoHansyokuNum3] [char](8) NULL,
	[Ketto3InfoBamei3] [char](36) NULL,
	[Ketto3InfoHansyokuNum4] [char](8) NULL,
	[Ketto3InfoBamei4] [char](36) NULL,
	[Ketto3InfoHansyokuNum5] [char](8) NULL,
	[Ketto3InfoBamei5] [char](36) NULL,
	[Ketto3InfoHansyokuNum6] [char](8) NULL,
	[Ketto3InfoBamei6] [char](36) NULL,
	[Ketto3InfoHansyokuNum7] [char](8) NULL,
	[Ketto3InfoBamei7] [char](36) NULL,
	[Ketto3InfoHansyokuNum8] [char](8) NULL,
	[Ketto3InfoBamei8] [char](36) NULL,
	[Ketto3InfoHansyokuNum9] [char](8) NULL,
	[Ketto3InfoBamei9] [char](36) NULL,
	[Ketto3InfoHansyokuNum10] [char](8) NULL,
	[Ketto3InfoBamei10] [char](36) NULL,
	[Ketto3InfoHansyokuNum11] [char](8) NULL,
	[Ketto3InfoBamei11] [char](36) NULL,
	[Ketto3InfoHansyokuNum12] [char](8) NULL,
	[Ketto3InfoBamei12] [char](36) NULL,
	[Ketto3InfoHansyokuNum13] [char](8) NULL,
	[Ketto3InfoBamei13] [char](36) NULL,
	[Ketto3InfoHansyokuNum14] [char](8) NULL,
	[Ketto3InfoBamei14] [char](36) NULL,
	[TozaiCD] [char](1) NULL,
	[ChokyosiCode] [char](5) NULL,
	[ChokyosiRyakusyo] [char](8) NULL,
	[Syotai] [char](20) NULL,
	[BreederCode] [char](6) NULL,
	[BreederName] [char](70) NULL,
	[SanchiName] [char](20) NULL,
	[BanusiCode] [char](6) NULL,
	[BanusiName] [char](64) NULL,
	[RuikeiHonsyoHeiti] [char](9) NULL,
	[RuikeiHonsyoSyogai] [char](9) NULL,
	[RuikeiFukaHeichi] [char](9) NULL,
	[RuikeiFukaSyogai] [char](9) NULL,
	[RuikeiSyutokuHeichi] [char](9) NULL,
	[RuikeiSyutokuSyogai] [char](9) NULL,
	[SogoChakukaisu1] [char](3) NULL,
	[SogoChakukaisu2] [char](3) NULL,
	[SogoChakukaisu3] [char](3) NULL,
	[SogoChakukaisu4] [char](3) NULL,
	[SogoChakukaisu5] [char](3) NULL,
	[SogoChakukaisu6] [char](3) NULL,
	[ChuoChakukaisu1] [char](3) NULL,
	[ChuoChakukaisu2] [char](3) NULL,
	[ChuoChakukaisu3] [char](3) NULL,
	[ChuoChakukaisu4] [char](3) NULL,
	[ChuoChakukaisu5] [char](3) NULL,
	[ChuoChakukaisu6] [char](3) NULL,
	[Ba1Chakukaisu1] [char](3) NULL,
	[Ba1Chakukaisu2] [char](3) NULL,
	[Ba1Chakukaisu3] [char](3) NULL,
	[Ba1Chakukaisu4] [char](3) NULL,
	[Ba1Chakukaisu5] [char](3) NULL,
	[Ba1Chakukaisu6] [char](3) NULL,
	[Ba2Chakukaisu1] [char](3) NULL,
	[Ba2Chakukaisu2] [char](3) NULL,
	[Ba2Chakukaisu3] [char](3) NULL,
	[Ba2Chakukaisu4] [char](3) NULL,
	[Ba2Chakukaisu5] [char](3) NULL,
	[Ba2Chakukaisu6] [char](3) NULL,
	[Ba3Chakukaisu1] [char](3) NULL,
	[Ba3Chakukaisu2] [char](3) NULL,
	[Ba3Chakukaisu3] [char](3) NULL,
	[Ba3Chakukaisu4] [char](3) NULL,
	[Ba3Chakukaisu5] [char](3) NULL,
	[Ba3Chakukaisu6] [char](3) NULL,
	[Ba4Chakukaisu1] [char](3) NULL,
	[Ba4Chakukaisu2] [char](3) NULL,
	[Ba4Chakukaisu3] [char](3) NULL,
	[Ba4Chakukaisu4] [char](3) NULL,
	[Ba4Chakukaisu5] [char](3) NULL,
	[Ba4Chakukaisu6] [char](3) NULL,
	[Ba5Chakukaisu1] [char](3) NULL,
	[Ba5Chakukaisu2] [char](3) NULL,
	[Ba5Chakukaisu3] [char](3) NULL,
	[Ba5Chakukaisu4] [char](3) NULL,
	[Ba5Chakukaisu5] [char](3) NULL,
	[Ba5Chakukaisu6] [char](3) NULL,
	[Ba6Chakukaisu1] [char](3) NULL,
	[Ba6Chakukaisu2] [char](3) NULL,
	[Ba6Chakukaisu3] [char](3) NULL,
	[Ba6Chakukaisu4] [char](3) NULL,
	[Ba6Chakukaisu5] [char](3) NULL,
	[Ba6Chakukaisu6] [char](3) NULL,
	[Ba7Chakukaisu1] [char](3) NULL,
	[Ba7Chakukaisu2] [char](3) NULL,
	[Ba7Chakukaisu3] [char](3) NULL,
	[Ba7Chakukaisu4] [char](3) NULL,
	[Ba7Chakukaisu5] [char](3) NULL,
	[Ba7Chakukaisu6] [char](3) NULL,
	[Jyotai1Chakukaisu1] [char](3) NULL,
	[Jyotai1Chakukaisu2] [char](3) NULL,
	[Jyotai1Chakukaisu3] [char](3) NULL,
	[Jyotai1Chakukaisu4] [char](3) NULL,
	[Jyotai1Chakukaisu5] [char](3) NULL,
	[Jyotai1Chakukaisu6] [char](3) NULL,
	[Jyotai2Chakukaisu1] [char](3) NULL,
	[Jyotai2Chakukaisu2] [char](3) NULL,
	[Jyotai2Chakukaisu3] [char](3) NULL,
	[Jyotai2Chakukaisu4] [char](3) NULL,
	[Jyotai2Chakukaisu5] [char](3) NULL,
	[Jyotai2Chakukaisu6] [char](3) NULL,
	[Jyotai3Chakukaisu1] [char](3) NULL,
	[Jyotai3Chakukaisu2] [char](3) NULL,
	[Jyotai3Chakukaisu3] [char](3) NULL,
	[Jyotai3Chakukaisu4] [char](3) NULL,
	[Jyotai3Chakukaisu5] [char](3) NULL,
	[Jyotai3Chakukaisu6] [char](3) NULL,
	[Jyotai4Chakukaisu1] [char](3) NULL,
	[Jyotai4Chakukaisu2] [char](3) NULL,
	[Jyotai4Chakukaisu3] [char](3) NULL,
	[Jyotai4Chakukaisu4] [char](3) NULL,
	[Jyotai4Chakukaisu5] [char](3) NULL,
	[Jyotai4Chakukaisu6] [char](3) NULL,
	[Jyotai5Chakukaisu1] [char](3) NULL,
	[Jyotai5Chakukaisu2] [char](3) NULL,
	[Jyotai5Chakukaisu3] [char](3) NULL,
	[Jyotai5Chakukaisu4] [char](3) NULL,
	[Jyotai5Chakukaisu5] [char](3) NULL,
	[Jyotai5Chakukaisu6] [char](3) NULL,
	[Jyotai6Chakukaisu1] [char](3) NULL,
	[Jyotai6Chakukaisu2] [char](3) NULL,
	[Jyotai6Chakukaisu3] [char](3) NULL,
	[Jyotai6Chakukaisu4] [char](3) NULL,
	[Jyotai6Chakukaisu5] [char](3) NULL,
	[Jyotai6Chakukaisu6] [char](3) NULL,
	[Jyotai7Chakukaisu1] [char](3) NULL,
	[Jyotai7Chakukaisu2] [char](3) NULL,
	[Jyotai7Chakukaisu3] [char](3) NULL,
	[Jyotai7Chakukaisu4] [char](3) NULL,
	[Jyotai7Chakukaisu5] [char](3) NULL,
	[Jyotai7Chakukaisu6] [char](3) NULL,
	[Jyotai8Chakukaisu1] [char](3) NULL,
	[Jyotai8Chakukaisu2] [char](3) NULL,
	[Jyotai8Chakukaisu3] [char](3) NULL,
	[Jyotai8Chakukaisu4] [char](3) NULL,
	[Jyotai8Chakukaisu5] [char](3) NULL,
	[Jyotai8Chakukaisu6] [char](3) NULL,
	[Jyotai9Chakukaisu1] [char](3) NULL,
	[Jyotai9Chakukaisu2] [char](3) NULL,
	[Jyotai9Chakukaisu3] [char](3) NULL,
	[Jyotai9Chakukaisu4] [char](3) NULL,
	[Jyotai9Chakukaisu5] [char](3) NULL,
	[Jyotai9Chakukaisu6] [char](3) NULL,
	[Jyotai10Chakukaisu1] [char](3) NULL,
	[Jyotai10Chakukaisu2] [char](3) NULL,
	[Jyotai10Chakukaisu3] [char](3) NULL,
	[Jyotai10Chakukaisu4] [char](3) NULL,
	[Jyotai10Chakukaisu5] [char](3) NULL,
	[Jyotai10Chakukaisu6] [char](3) NULL,
	[Jyotai11Chakukaisu1] [char](3) NULL,
	[Jyotai11Chakukaisu2] [char](3) NULL,
	[Jyotai11Chakukaisu3] [char](3) NULL,
	[Jyotai11Chakukaisu4] [char](3) NULL,
	[Jyotai11Chakukaisu5] [char](3) NULL,
	[Jyotai11Chakukaisu6] [char](3) NULL,
	[Jyotai12Chakukaisu1] [char](3) NULL,
	[Jyotai12Chakukaisu2] [char](3) NULL,
	[Jyotai12Chakukaisu3] [char](3) NULL,
	[Jyotai12Chakukaisu4] [char](3) NULL,
	[Jyotai12Chakukaisu5] [char](3) NULL,
	[Jyotai12Chakukaisu6] [char](3) NULL,
	[Kyori1Chakukaisu1] [char](3) NULL,
	[Kyori1Chakukaisu2] [char](3) NULL,
	[Kyori1Chakukaisu3] [char](3) NULL,
	[Kyori1Chakukaisu4] [char](3) NULL,
	[Kyori1Chakukaisu5] [char](3) NULL,
	[Kyori1Chakukaisu6] [char](3) NULL,
	[Kyori2Chakukaisu1] [char](3) NULL,
	[Kyori2Chakukaisu2] [char](3) NULL,
	[Kyori2Chakukaisu3] [char](3) NULL,
	[Kyori2Chakukaisu4] [char](3) NULL,
	[Kyori2Chakukaisu5] [char](3) NULL,
	[Kyori2Chakukaisu6] [char](3) NULL,
	[Kyori3Chakukaisu1] [char](3) NULL,
	[Kyori3Chakukaisu2] [char](3) NULL,
	[Kyori3Chakukaisu3] [char](3) NULL,
	[Kyori3Chakukaisu4] [char](3) NULL,
	[Kyori3Chakukaisu5] [char](3) NULL,
	[Kyori3Chakukaisu6] [char](3) NULL,
	[Kyori4Chakukaisu1] [char](3) NULL,
	[Kyori4Chakukaisu2] [char](3) NULL,
	[Kyori4Chakukaisu3] [char](3) NULL,
	[Kyori4Chakukaisu4] [char](3) NULL,
	[Kyori4Chakukaisu5] [char](3) NULL,
	[Kyori4Chakukaisu6] [char](3) NULL,
	[Kyori5Chakukaisu1] [char](3) NULL,
	[Kyori5Chakukaisu2] [char](3) NULL,
	[Kyori5Chakukaisu3] [char](3) NULL,
	[Kyori5Chakukaisu4] [char](3) NULL,
	[Kyori5Chakukaisu5] [char](3) NULL,
	[Kyori5Chakukaisu6] [char](3) NULL,
	[Kyori6Chakukaisu1] [char](3) NULL,
	[Kyori6Chakukaisu2] [char](3) NULL,
	[Kyori6Chakukaisu3] [char](3) NULL,
	[Kyori6Chakukaisu4] [char](3) NULL,
	[Kyori6Chakukaisu5] [char](3) NULL,
	[Kyori6Chakukaisu6] [char](3) NULL,
	[Kyakusitu1] [char](3) NULL,
	[Kyakusitu2] [char](3) NULL,
	[Kyakusitu3] [char](3) NULL,
	[Kyakusitu4] [char](3) NULL,
	[RaceCount] [char](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[KettoNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [JV].[UMA_RACE]    Script Date: 2025/06/14 8:03:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [JV].[UMA_RACE](
	[RecordSpec] [char](2) NULL,
	[DataKubun] [char](1) NULL,
	[MakeDate] [char](8) NULL,
	[Year] [char](4) NOT NULL,
	[MonthDay] [char](4) NOT NULL,
	[JyoCD] [char](2) NOT NULL,
	[Kaiji] [char](2) NOT NULL,
	[Nichiji] [char](2) NOT NULL,
	[RaceNum] [char](2) NOT NULL,
	[Wakuban] [char](1) NULL,
	[Umaban] [char](2) NOT NULL,
	[KettoNum] [char](10) NOT NULL,
	[Bamei] [char](36) NULL,
	[UmaKigoCD] [char](2) NULL,
	[SexCD] [char](1) NULL,
	[HinsyuCD] [char](1) NULL,
	[KeiroCD] [char](2) NULL,
	[Barei] [char](2) NULL,
	[TozaiCD] [char](1) NULL,
	[ChokyosiCode] [char](5) NULL,
	[ChokyosiRyakusyo] [char](8) NULL,
	[BanusiCode] [char](6) NULL,
	[BanusiName] [char](64) NULL,
	[Fukusyoku] [char](60) NULL,
	[reserved1] [char](60) NULL,
	[Futan] [char](3) NULL,
	[FutanBefore] [char](3) NULL,
	[Blinker] [char](1) NULL,
	[reserved2] [char](1) NULL,
	[KisyuCode] [char](5) NULL,
	[KisyuCodeBefore] [char](5) NULL,
	[KisyuRyakusyo] [char](8) NULL,
	[KisyuRyakusyoBefore] [char](8) NULL,
	[MinaraiCD] [char](1) NULL,
	[MinaraiCDBefore] [char](1) NULL,
	[BaTaijyu] [char](3) NULL,
	[ZogenFugo] [char](1) NULL,
	[ZogenSa] [char](3) NULL,
	[IJyoCD] [char](1) NULL,
	[NyusenJyuni] [char](2) NULL,
	[KakuteiJyuni] [char](2) NULL,
	[DochakuKubun] [char](1) NULL,
	[DochakuTosu] [char](1) NULL,
	[Time] [char](4) NULL,
	[ChakusaCD] [char](3) NULL,
	[ChakusaCDP] [char](3) NULL,
	[ChakusaCDPP] [char](3) NULL,
	[Jyuni1c] [char](2) NULL,
	[Jyuni2c] [char](2) NULL,
	[Jyuni3c] [char](2) NULL,
	[Jyuni4c] [char](2) NULL,
	[Odds] [char](4) NULL,
	[Ninki] [char](2) NULL,
	[Honsyokin] [char](8) NULL,
	[Fukasyokin] [char](8) NULL,
	[reserved3] [char](3) NULL,
	[reserved4] [char](3) NULL,
	[HaronTimeL4] [char](3) NULL,
	[HaronTimeL3] [char](3) NULL,
	[KettoNum1] [char](10) NULL,
	[Bamei1] [char](36) NULL,
	[KettoNum2] [char](10) NULL,
	[Bamei2] [char](36) NULL,
	[KettoNum3] [char](10) NULL,
	[Bamei3] [char](36) NULL,
	[TimeDiff] [char](4) NULL,
	[RecordUpKubun] [char](1) NULL,
	[DMKubun] [char](1) NULL,
	[DMTime] [char](5) NULL,
	[DMGosaP] [char](4) NULL,
	[DMGosaM] [char](4) NULL,
	[DMJyuni] [char](2) NULL,
	[KyakusituKubun] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[Year] ASC,
	[MonthDay] ASC,
	[JyoCD] ASC,
	[Kaiji] ASC,
	[Nichiji] ASC,
	[RaceNum] ASC,
	[Umaban] ASC,
	[KettoNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
